<div id="page-header" class="clearfix" ng-controller="HeaderCtrl">
  <div id="header-logo" class="rm-transition">
    <a href="#" class="tooltip-button hidden-desktop" title="Navigation Menu" id="responsive-open-menu">
      <i class="glyph-icon icon-align-justify"></i>
    </a>
    <span>ONG VÀNG NHT</span>

    <a id="collapse-sidebar" title="">
      <i class="glyph-icon icon-chevron-left"></i>
    </a>
  </div>
  <!-- #header-logo -->
 <!-- Simple dropdown -->
  <div id="header-right">
    <div class="user-profile dropdown"  uib-dropdown>
      <a href class="user-ico clearfix" uib-dropdown-toggle id="profile-user-dropdown">
        <img ng-src="{{logoSrc}}" alt="NHT LOGO" width="54" style="margin: 0px; width: 54px;
        height: auto;">
        <i class="glyph-icon icon-chevron-down"></i>
      </a>
      <div class="dropdown-menu pad0B float-right" uib-dropdown-menu aria-labelledby="profile-user-dropdown">
        <div class="box-sm">
          <div class="login-box clearfix">
            <div class="user-img">
              <img ng-src="{{logoSrc}}" alt="NHT LOGO" style="height: auto;">
            </div>
            <div class="user-info">
              <span>
                {{currentUser.name}}
              </span>
              <i>{{currentUser.role}}</i>
            </div>
          </div>
          <div class="divider"></div>
          <ul class="reset-ul mrg5B">
            <li>
              <a ui-sref="profile">
                View account details
                <i class="glyph-icon float-right icon-caret-right"></i>
              </a>
            </li>
          </ul>
          <div class="pad5A button-pane button-pane-alt text-center">
            <a ng-click="logout()" class="btn display-block font-normal btn-danger">
              <i class="glyph-icon icon-power-off"></i>
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
