app.controller('HeaderCtrl', ['$scope', 'Auth', 'usersService', '$window', function($scope, Auth, usersService, $window){
  $scope.logout = Auth.logout;

  $scope.$on('devise:logout', function (e, user){
    $window.location.href = "users/sign_in";
  });

  $scope.logoSrc = "<%= asset_path('logo.png') %>";
}]);
