<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      New Product
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="listingProducts" class="btn btn-primary"
      tooltip-placement='bottom' uib-tooltip='Quay ve'>
      <i class="fa fa-arrow-left"></i>
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <div class="row">
      <form name="productForm" novalidate>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">Thong tin chung</div>
            <div class="panel-body">
              <div class="form-group" ng-class="{'has-error': productForm.name.$invalid &&
                productForm.name.$dirty }">
                <label for="name">Ten san pham</label>
                <input name="name" ng-model="product.name"
                type="text" class="form-control" placeholder="Ten san pham"
                required>
                <div class="help-block" ng-messages="productForm.name.$error"
                  ng-show="productForm.name.$dirty">
                   <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': productForm.description.$invalid &&
                productForm.description.$dirty}">
                <label for="description">Mo ta</label>
                <textarea name="description" 
                  class="form-control" ng-model="product.description" required>
                </textarea>
                <div class="help-block" ng-messages="productForm.description.$error"
                  ng-show="productForm.description.$dirty">
                   <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h4 class="pull-left">Loai san pham</h4>
              <button class="btn btn-success pull-right" ng-click="newVariant()">
                <i class="fa fa-plus"></i>
              </button>
              <div class="clear"></div>
            </div>
            <div class="panel-body">
              <div class="panel panel-default" ng-repeat="variant in product.variants_attributes">
                <ng-form name="variantForm">
                    <div class="panel-heading"><b>{{$index + 1}}</b></div>
                    <div class="panel-body">
                      <div class="variant-wrapper">

                        <div class="form-group" ng-class="{'has-error': variantForm.vName.$invalid &&
                          variantForm.vName.$dirty }">
                          <label for="vName">Ten loai</label>
                          <input type="text" class="form-control" placeholder="Ten loai" 
                          name='vName' ng-model="variant.option_values" required>
                          <div class="help-block" ng-messages="variantForm.vName.$error"
                            ng-show="variantForm.vName.$dirty">
                             <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                          </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': variantForm.price.$invalid &&
                          variantForm.price.$dirty }">
                          <label for="price">Gia ban:</label>
                          <input name="price"
                                 mask-money mm-options="moneyOptions"
                                 ng-model="variant.price" required
                                 type="text" class="form-control">
                          <div class="help-block" ng-messages="variantForm.price.$error"
                            ng-show="variantForm.price.$dirty">
                             <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                          </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': variantForm.cost.$invalid &&
                          variantForm.cost.$dirty }" ng-if="currentUser.is_admin()">
                          <label for="cost">Gia nhap:</label>
                          <input name="cost"
                                 mask-money mm-options="moneyOptions"
                                 ng-model="variant.cost" required
                                 type="text" class="form-control">
                          <div class="help-block" ng-messages="variantForm.cost.$error"
                            ng-show="variantForm.cost.$dirty">
                             <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                          </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':
                          variantForm.discount_amount.$invalid &&
                          variantForm.discount_amount.$dirty }">
                          <label for="discount_amount">Chiet khau:</label>
                          <input name="discount_amount"
                                 mask-money mm-options="moneyOptions"
                                 ng-model="variant.discount_amount"
                                 type="text" class="form-control">
                          <div class="help-block" ng-messages="variantForm.discount_amount.$error"
                            ng-show="variantForm.discount_amount.$dirty">
                             <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Sale tu ngay</label>
                          <p class="input-group">
                          <input type="text" class="form-control"
                            uib-datepicker-popup='dd-MM-yyyy'
                            ng-model="variant.sale_from_date"
                            is-open="popup1.opened"
                            datepicker-options="dateOptions"
                            name="sale_from_date" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                              ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                          </p>
                        </div>

                        <div class="form-group">
                          <label>Sale toi ngay</label>
                          <p class="input-group">
                            <input type="text" class="form-control"
                              uib-datepicker-popup='dd-MM-yyyy'
                              ng-model="variant.sale_to_date"
                              is-open="popup2.opened"
                              datepicker-options="dateOptions"
                              name="sale_to_date" close-text="Close" />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default"
                                ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                          </p>
                        </div>

                      </div>
                    </div>
                    <div class="panel-footer">
                      <button class="btn btn-danger btn-block"
                        ng-if="product.variants_attributes.length >= 2"
                        ng-click="variant.isDeleting = true;"
                        ng-hide="variant.isDeleting == true">
                        <i class="fa fa-trash"></i>
                      </button>
                      <button class="btn btn-danger btn-block" ng-show="variant.isDeleting == true"
                        ng-click="removeVariant(variant)">
                        <i class="fa fa-check fa-fw"></i>
                      </button>
                      <button class="btn btn-success btn-block" ng-show="variant.isDeleting ==
                        true" ng-click="variant.isDeleting = false;">
                        <i class="fa fa-times fa-fw"></i>
                      </button>
                    </div>
                </ng-form>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
      <div class="actions-wrapper">
        <button class="btn btn-success" ng-disabled="productForm.$invalid"
          ng-disabled="product.isCreating"
          ng-click="create(productForm.$invalid)">Create</button>
        --
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
      </div>
  </div>
</div>
