<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Danh sanh nhan vien
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newStaff" class="btn btn-success"
      tooltip-placement='bottom'
      uib-tooltip="Them nhan vien">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <div class="search-box-wrapper">
      <div class="input-group filter-button">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-init="searchCollapsed = true;" ng-click="searchCollapsed =
            !searchCollapsed;">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-down':
              !searchCollapsed, 'glyphicon-chevron-right': searchCollapsed}"></span>
            Tim kiem
          </button>
        </span>
        <input type="text" name="quick_search" id="quick_search" class="form-control" 
            placeholder="Quick search.." 
            ng-model="q.email_cont" ng-enter="search(false)">
      </div>
      <div class="well" style="margin-top: 15px;" uib-collapse="searchCollapsed">
        <form name="searchForm" novalidate>
          <div class="row">
            <div class="form-group col-sm-4" 
              ng-class="{'has-error': searchForm.email.$dirty &&
              searchForm.email.$invalid}">
              <label for="email">Email</label>
              <input type="email" class="form-control"
                placeholder="staff1@gmail.com" name="email"
              ng-model="q.email_cont">
            </div>

            <div class="form-group col-sm-4">
              <label for="name">Ho ten</label>
              <input type="text" class="form-control" placeholder="Nguyen Huu Trung" name="name"
                ng-model="q.name_cont">
            </div>

            <div class="form-group col-sm-4">
              <label for="note">Ghi chu</label>
              <input type="text" class="form-control" placeholder="So phone, ngay sinh,..." name="note"
                ng-model="q.note_cont">
            </div>
            <div class="col-md-12">
              <div class="checkbox" ng-repeat="role in roles" 
                style="float: left; margin-left: 15px; margin: 10px;">
                <label>
                  <input type="checkbox" name="role_ids" checklist-model="q.roles_id_in" checklist-value="role.id"> {{role.vietnamese_name}}
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <a ng-disabled="searchForm.$invalid" ng-click="search(searchForm.$invalid)" class="btn btn-default"> <i class="fa
                  fa-search"></i>Tim kiem</a>
              <a ng-click="clearSearch()" class="btn btn-default">Clear</a>
            </div>
          </div>
      </form></div>

    </div>
    <!-- END SEARCH FORM --!>


    <!-- BEGIN LISTING SUPPLIER PAGE --!>
    <div class='table-responsive'>
      <table class="table table-bordered table-striped table-hover">
        <colgroup>
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 30%;">
          <col style="width: 15%;">
          <col style="width: 15%;">
          <col style="width: 15%;" ng-if="currentUser.is_admin()">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">Ten</th>
            <th class="text-center">Email</th>
            <th class="text-center">Ghi chu</th>
            <th class="text-center">Roles</th>
            <th class="text-center" ng-if="currentUser.is_admin()">Tong hoa hong trong thang</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="staff in staffs">
            <td class="text-center" style="vertical-align: middle;"><a ui-sref="editStaff({id: staff.id})">{{staff.name}}</a></td>
            <td class="text-center" ng-class="{'admin-role': is_admin(staff)}" style="vertical-align: middle;">{{staff.email}}</td>
            <td class="text-center" style="vertical-align: middle;">{{staff.note | truncate: 50}}</td>
            <td class="text-center" style="vertical-align: middle;">
              <p ng-repeat="role in staff.roles" ng-class="{'admin-role': role.name ==
              'admin'}">{{role.vietnamese_name}}</p>
            </td>
            <td class="text-center" style="vertical-align: middle;" ng-if="currentUser.is_admin()">{{staff.tong_hoa_hong_trong_thang | vnCurrency}}</td>
            <style type="text/css">
              .admin-role{
                color: #FBD60B!important;
                font-weight: bold;
              }
            </style>
            <td class="text-center" style="vertical-align: middle;">
              <a ui-sref="editStaff({id: staff.id})" class="btn btn-success">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <angular-smartconfirm confirm="delete(staff)"><i class="fa fa-trash"></i></smart-confirm>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- BEGIN LISTING SUPPLIER PAGE --!>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
    total-items="pageConfig.totalItems"
    items-per-page="pageConfig.itemsPerPage"
    ng-model="pageConfig.currentPage"
    ng-change="pageChanged()"
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
    first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>

