<div class="modal-header">
  <h3 class="modal-title">them moi</h3>
</div>
<div class="modal-body">
  <form name="import_item_form" novalidate>
    <div class="form-group" 
      ng-class="{'has-error': import_item_form.variant.$invalid &&
      import_item_form.variant.$dirty }">
      <label for="variant" style="display: block;">San pham</label>
      <ui-select name="variant" ng-model="import_item.variant" required
        ng-disabled="import_item.id"
        style="width:100%;">
          <ui-select-match placeholder="Lua chon san pham">
              {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="variant in allVariants| filter:
          $select.search track by $index">
            {{variant.name}}
            <br>
            <strong>Loai:</strong> {{variant.option_values}}
          </ui-select-choices>
      </ui-select>
      <div class="help-block" ng-messages="import_item_form.variant.$error"
        ng-show="import_item_form.variant.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': import_item_form.number.$invalid &&
      import_item_form.number.$dirty }">
      <label for="number">So luong</label>
      <input type="number" class="form-control" name="quantity" 
        ng-model="import_item.quantity" required>
      <div class="help-block" ng-messages="import_item_form.number.$error"
        ng-show="import_item_form.number.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': import_item_form.cost_per_item.$invalid &&
      import_item_form.cost_per_item.$dirty }" ng-if="currentUser.is_admin()">
      <label for="cost_per_item">Gia nhap (don vi)</label>
      <input name="cost_per_item"
             mask-money mm-options="moneyOptions"
             ng-model="import_item.cost_per_item" required
             type="text" class="form-control">
      <div class="help-block" ng-messages="import_item_form.cost_per_item.$error"
        ng-show="import_item_form.cost_per_item.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': import_item_form.price_per_item.$invalid &&
      import_item_form.price_per_item.$dirty }" ng-if="currentUser.is_admin()">
      <label for="price_per_item">Gia ban du kien (don vi)</label>
      <input name="price_per_item"
             mask-money mm-options="moneyOptions"
             ng-model="import_item.price_per_item"
             type="text" class="form-control">
      <div class="help-block" ng-messages="import_item_form.price_per_item.$error"
        ng-show="import_item_form.price_per_item.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': import_item_form.discount_per_item.$invalid &&
      import_item_form.discount_per_item.$dirty }" ng-if="currentUser.is_admin()">
      <label for="discount_per_item">Chiet khau (don vi)</label>
      <input name="discount_per_item"
             mask-money mm-options="moneyOptions"
             ng-model="import_item.discount_per_item"
             type="text" class="form-control">
      <div class="help-block" ng-messages="import_item_form.discount_per_item.$error"
        ng-show="import_item_form.discount_per_item.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': import_item_form.supplier.$invalid &&
      import_item_form.supplier.$dirty }"
       ng-if="currentUser.is_admin()">
      <label for="variant" style="display: block;">San pham</label>
      <ui-select name="variant" ng-model="import_item.supplier"
        style="width:100%;">
          <ui-select-match placeholder="Cung cap boi">
              {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="supplier in allSuppliers| filter:
          $select.search track by $index">
            {{supplier.name}}
          </ui-select-choices>
      </ui-select>
      <div class="help-block" ng-messages="import_item_form.supplier.$error"
        ng-show="import_item_form.supplier.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" 
    ng-disabled="import_item_form.$invalid"
    ng-click="save(import_item_form.$invalid)">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
