<div class="modal-header">
  <h3 class="modal-title">them moi</h3>
</div>
<div class="modal-body">
  <form name="other_import_item_form" novalidate>
    <div class="form-group" 
      ng-class="{'has-error': other_import_item_form.name.$invalid &&
      other_import_item_form.name.$dirty }">
      <label for="name">Ten</label>
      <input name="name" ng-model="other_import_item.name" required
        uib-typeahead="other_item.name as other_item.name for other_item in allOtherItems | filter:$viewValue | limitTo:8" 
        type="text" class="form-control" placeholder="Ban ghe">
      <div class="help-block" ng-messages="other_import_item_form.name.$error"
        ng-show="other_import_item_form.name.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': other_import_item_form.cost.$invalid &&
      other_import_item_form.cost.$dirty }">
      <label for="cost">Chi phi</label>
      <input name="cost"
             mask-money mm-options="moneyOptions"
             ng-model="other_import_item.cost" required
             type="text" class="form-control">
      <div class="help-block" ng-messages="other_import_item_form.cost.$error"
        ng-show="other_import_item_form.cost.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="note">Ghi chu</label>
      <textarea name="note" class='form-control' ng-model="other_import_item.note">
      </textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" 
    ng-disabled="other_import_item_form.$invalid"
    ng-click="save(other_import_item_form.$invalid)">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
