<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Quan ly ton kho
    </span>
  </div>

  <div id="page-nav-right">
    <a ng-click='get_excel()' class="btn btn-primary" tooltip-placement="bottom"
      ng-if="list_permissions.can_get_excel"
      uib-tooltip="Export XLS">
      <i class="fa fa-file-excel-o"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <form>
      <div class="search-box-wrapper">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsedSearch = !collapsedSearch;" class="collapse-btn-a">
                  <i class="fa fa-search"></i>
                  Tim kiem
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="collapsedSearch">
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-9">
                    <label for="productName">Ten san pham</label>
                    <input type="text" ng-model="q.product_name_cont" uib-typeahead="product.name as product.name for product in
                    allProducts| filter:$viewValue | limitTo:8" 
                    typeahead-focus-first='false'
                    typeahead-on-select='onSelectProductName($item, $model)'
                    typeahead-select-on-exact='true'
                    class="form-control">
                  </div>
                  <div style="clear:both; display:block; margin-bottom: 50px;"></div>
                </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn-default btn-search" ng-click="search()">
                  <i class="fa fa-search"></i>Tim kiem</button>
                <button 
                  ng-click="clearSearch()"
                  class="btn btn-danger btn-search-clear"><i class="fa fa-clear"></i>Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- END SEARCH FORM --!>

    <div class="list-info-boxs">
      <div class="infobox infobox-blue">
        <div class="infobox-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tag fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number">{{ summary.so_luong_ton_kho }}</span>
          <div class="infobox-content">SL tồn kho</div>
        </div>
      </div>
      <style type="text/css">
        .infobox.infobox-blue .infobox-data-number{
          color: #6fb3e0; 
        }
        .infobox.infobox-blue .infobox-icon .fa.fa-circle{
          color: #6fb3e0; 
        }

        .infobox.infobox-orange .infobox-data-number{
          color: #f79263; 
        }
        .infobox.infobox-orange .infobox-icon .fa.fa-circle{
          color: #f79263; 
        }

        .infobox.infobox-red .infobox-data-number{
          color: #d53f40; 
        }
        .infobox.infobox-red .infobox-icon .fa.fa-circle{
          color: #d53f40; 
        }
      </style>

      <div class="infobox infobox-orange">
        <div class="infobox-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number">{{summary.tong_von_ton_kho | vnCurrency}}</span>
          <div class="infobox-content">Tổng vốn tồn kho </div>
        </div>
      </div>

      <div class="infobox infobox-red">
        <div class="infobox-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number">{{ summary.tong_gia_tri_ton_kho | vnCurrency }}</span>
          <div class="infobox-content">Tổng giá trị tồn kho</div>
        </div>
      </div>
    </div>
    <style type="text/css">
      .list-info-boxs{
        margin-bottom: 20px;
      }
      .infobox {
        display: inline-block;
        width: 230px;
        height: 66px;
        color: #555;
        background-color: #fff;
        box-shadow: none;
        border-radius: 0;
        margin: -1px 0 0 -1px;
        padding: 8px 3px 6px 9px;
        border: 1px dotted;
        border-color: #d8d8d8!important;
        vertical-align: middle;
        text-align: left;
        position: relative;
      }

      .infobox>.infobox-icon {
        display: inline-block;
        vertical-align: top;
        width: 44px;
      }
      .infobox>.infobox-icon {
        display: inline-block;
        vertical-align: top;
        width: 44px;
      }

      .infobox>.infobox-data {
        display: inline-block;
        border: none;
        border-top-width: 0;
        font-size: 13px;
        text-align: left;
        line-height: 21px;
        min-width: 130px;
        padding-left: 8px;
        position: relative;
        top: 0;
      }
      .infobox>.infobox-data {
        display: inline-block;
        border-width: 0;
        font-size: 13px;
        text-align: left;
        line-height: 21px;
        min-width: 130px;
        padding-left: 8px;
        position: relative;
        top: 0;
      }

      .infobox>.infobox-data>.infobox-data-number {
        display: block;
        font-size: 22px;
        margin: 2px 0 4px;
        position: relative;
        text-shadow: 1px 1px 0 rgba(0,0,0,.15);
      }
      .infobox>.infobox-data>.infobox-data-number {
        display: block;
        font-size: 22px;
        margin: 2px 0 4px;
        position: relative;
        text-shadow: 1px 1px 0 rgba(0,0,0,.15);
      }

      .infobox .infobox-content {
        color: #555;
      }
    </style>


    <!-- BEGIN LISTING SUPPLIER PAGE --!>
    <div class='table-responsive'>
      <table class="table table-bordered table-striped table-hover">
        <colgroup>
          <col style="width: 5%;">
          <col style="width: 25%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 10%;">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Ten san pham</th>
            <th class="text-center">SL ton</th>
            <th class="text-center">Von ton kho</th>
            <th class="text-center">Gia tri ton</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="inventory in inventories">
            <td class="text-center">
              {{pageConfig.itemsPerPage*(pageConfig.currentPage - 1) + $index + 1}}
            </td>
            <td class="text-center">
              <a ui-sref="editProduct({id: inventory.product_id})" target="_blank">{{inventory.name}}</a>
            </td>
            <td class="text-center">{{inventory.so_luong_ton_kho}}</td>
            <td class="text-center">{{inventory.tong_von_ton_kho | vnCurrency}}</td>
            <td class="text-center">
              {{inventory.tong_gia_tri_ton_kho | vnCurrency}}
            </td>
            <td class="text-center">
              <button class='btn btn-primary' ng-click='chiTietTonKho(inventory)'>Chi tiet</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- BEGIN LISTING SUPPLIER PAGE --!>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
    total-items="pageConfig.totalItems"
    items-per-page="pageConfig.itemsPerPage"
    ng-model="pageConfig.currentPage"
    ng-change="pageChanged()"
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
    first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>

