<div class="modal-header">
  <h3 class="modal-title">{{inventory.name}}</h3>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <colgroup>
        <col style="width: 5%;">
        <col style="width: 25%;">
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 20%;">
        <col style="width: 10%;">
      </colgroup>
      <thead>
        <tr>
          <th class="text-center">STT</th>
          <th class="text-center">Lan nhap</th>
          <th class="text-center">Ngay</th>
          <th class="text-center">So luong nhap</th>
          <th class="text-center">So luong ton</th>
          <th class="text-center">So luong ban</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="import_item in inventory.import_items">
          <td class="text-center">{{$index + 1}}</td>
          <td class="text-center">
            <a ui-sref="editImportHistory({id:
              import_item.import_history.id})" target="_blank">{{import_item.import_history.title}}</a>
          </td>
          <td class="text-center">{{ import_item.created_at | date:'dd-MM-yyyy HH:mm'  }}</td>
          <td class="text-center">{{import_item.quantity}}</td>
          <td class="text-center">{{import_item.count_in_stock}}</td>
          <td class="text-center">{{import_item.quantity - import_item.count_in_stock}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
