<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <div class="row">
      <div class="col-lg-12">
        <div class="filter-wrapper well row">
          <div class="col-md-6">
            <form class="form-horizontal" name="filterForm" novalidate>
              <div class="form-group">
                <label for="from_date" class="col-sm-3 control-label" style="text-align: left">Tu ngay</label>
                <div class="col-sm-9">
                  <p class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup='dd-MM-yyyy'
                  ng-model="filter.from_date" is-open="popup1.opened"
                  datepicker-options="dateOptions" name="from_date" close-text="Close" required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                      ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="to_date" class="col-sm-3 control-label" style="text-align: left">Toi
                  ngay</label>
                <div class="col-sm-9">
                  <p class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup='dd-MM-yyyy'
                  ng-model="filter.to_date" is-open="popup2.opened"
                  datepicker-options="dateOptions" name="to_date" close-text="Close" required />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                      ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <label for="frequency" class="col-sm-3 control-label" style="text-align: left">Tan
                  suat</label>
                <div class="col-sm-9">
                  <select name="frequence" class="form-control" ng-model="filter.frequency" required>
                    <option value="month">Hang thang</option>
                    <option value="week">Hang tuan</option>
                    <option value="day">Hang ngay</option>
                  </select>
                </div>
                Mac dinh: Hoan tat
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit"
                    ng-disabled="filterForm.$invalid || filter.isLoading"
                    ng-click="filter(filterForm.$invalid)"
                    class="btn btn-default">Submit</button>
                  <a class="btn btn-default" ng-click="clearFilter()">Clear</a>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-6">
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="plotOptions.line.dataLabels.enabled"> Hien
                        thi label
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="frequency" class="col-sm-3 control-label" style="text-align:
                    left">Loai chart</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="chart_type" ng-model="options.chart.type">
                      <option value="column">Cot</option>
                      <option value="line">Duong thang</option>
                      <option value="spline">Duong cong</option>
                      <option value="area">Area</option>
                      <option value="areaspline">Smooth area</option>
                      <option value="bar">Bar</option>
                      <option value="pie">Pie</option>
                      <option value="scatter">Scatter</option>
                    </select>
                    
                  </div>
                </div>
              </form>
          </div>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Theo nhan vien
            <select name="staff_state" ng-model="filter.staffState" ng-change="filterStaffChartByState()">
              <option value="waiting">Chot sale</option>
              <option value="delivered">Da giao hang</option>
              <option value="completed">Hoan tat</option>
              <option value="refunded">Hoan tra</option>
            </select>
            Mac dinh: Hoan tat
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <highchart id="number_of_orders_by_staff" config="number_of_orders_by_staff" class="span10"></highchart>
              </div>
              <div class="col-lg-6">
                <highchart id="discount_amounts_by_staff" config="discount_amounts_by_staff" class="span10"></highchart>
              </div>
              <div class="col-lg-6" ng-if='currentUser.is_admin()'>
                <highchart id="debit_total_by_staff" config="debit_total_by_staff" class="span10"></highchart>
              </div>
              <div class="col-lg-6">
                <highchart id="number_of_selled_products_by_staff" config="number_of_selled_products_by_staff" class="span10"></highchart>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default" ng-if="currentUser.admin()">
          <div class="panel-heading">
            Doanh thu & loi nhuan
            <select name="order_state" ng-model="filter.orderState" ng-change="filterOrderChartByState()">
              <option value="waiting">Chot sale</option>
              <option value="delivered">Da giao hang</option>
              <option value="completed">Hoan tat</option>
              <option value="refunded">Hoan tra</option>
            </select>
            Mac dinh: Hoan tat
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <highchart id="order_chart_summary" config="order_chart_summary" class="span10"></highchart>
              </div>
              <div class="col-lg-12">
                <highchart id="number_of_orders" config="number_of_orders" class="span10"></highchart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

