<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      {{supplier.name}}
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="listingSuppliers" title="" class="btn btn-blue-alt sb-open-right updateEasyPieChart">
      <i class="fa fa-plus"></i>
      Go back
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <form name="supplierForm" novalidate>
      <div class="panel panel-default">
        <div class="panel-heading">Thong tin chung</div>
        <div class="panel-body row"><div class="col-sm-12">
            <div class="form-group" ng-class="{'has-error': supplierForm.name.$invalid &&
              supplierForm.name.$dirty }">
              <label for="name">Ten co so*</label>
              <input 
                name="name" ng-model="supplier.name" required
                type="text" class="form-control" placeholder="Ten co so">
              <div class="help-block" ng-messages="supplierForm.name.$error"
                ng-show="supplierForm.name.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': supplierForm.coso.$invalid &&
              supplierForm.coso.$dirty }">
              <label for="name">Co so</label>
              <input 
                name="coso" ng-model="supplier.coso"
                type="text" class="form-control" placeholder="">
            </div>

            <div class="form-group" ng-class="{'has-error': supplierForm.address.$invalid &&
              supplierForm.address.$dirty }">
              <label for="address">Dia chi</label>
              <input 
              name="address" ng-model="supplier.address"
              type="text" class="form-control" placeholder="125 Nguyen Thi Thap, Quan 7, Ho chi minh">
            </div>

            <!-- B LIST PHONES HERE --!>
            <div class="row">
              <div class="col-md-4" ng-repeat="phone in supplier.phones_attributes"
                ng-if="!phone._destroy">
                <ng-form name="phoneForm">
                <label>Phone {{$index + 1}}</label>
                <div class="input-group" ng-class="{'has-error': phoneForm.phone.$invalid &&
                  phoneForm.phone.$dirty }">
                  <input type="text" class="form-control"
                    placeholder="0948-993-995"
                    name="phone" ng-model="phone.number" 
                    mask="9999-999-9999?" mask-clean="true" mask-restrict="reject">
                  <div class="input-group-btn">
                    <a type="button" class="btn btn-danger" ng-click="removePhone(phone)"
                      ng-disabled="supplier.phones_attributes.length <= 1"><i
                        class="fa fa-times"></i></a>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
                <p class="help-block" ng-show="phoneForm.phone.$dirty &&
                  phoneForm.phone.$error.mask">0948-993-995</p>
                </ng-form>

              </div>

              <div class="col-lg-12" style="margin-top: 10px;">
                <a class="btn btn-primary btn-block" ng-click="addPhone()">
                  <i class="fa fa-plus"> Phone</i>
                </a>
              </div>
            </div>
            <!-- E LIST PHONES HERE --!>

            <div class="form-group" style="margin-top: 15px;">
              <label for="address">Mat hang cung cap</label>
              <select class="form-control"
                ng-model="supplier.selectedProducts"
                chosen multiple
                search-contains="true"
                display-selected-options="false"
                ng-options="product.name for product in allProducts
                track by product.id">
              </select>
            </div>
        </div></div>
      </div>
    </form>
    <div class="actions-wrapper">

      <button class="btn btn-success" ng-disabled="supplierForm.$invalid"
        ng-disabled="supplier.isCreating"
        ng-click="update(supplierForm.$invalid)">Save</button>
      --
      <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>

