<h1>Home#welcome</h1>
<p>Find me in app/views/home/welcome.html.erb</p>
<h1>session</h1>
<%= debug(session) %>
<h1>headers</h1>
<%= debug(headers) %>
<h1>request</h1>
<%= debug(request) %>
<h1>response</h1>
<%= debug(response) %>
<h1>params</h1>
<%= debug(params) %>
