<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Listing Products
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newProduct" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Them
      moi" ng-if="list_permissions.can_create">
      <i class="fa fa-plus"></i>
    </a>

    <a ng-click='get_excel()' class="btn btn-primary" tooltip-placement="bottom"
      ng-if="list_permissions.can_get_excel"
      uib-tooltip="Export XLS">
      <i class="fa fa-file-excel-o"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>



<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!-- BEGIN SEARCH FORM --!>
    <form>
      <div class="search-box-wrapper">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsedSearch = !collapsedSearch;" class="collapse-btn-a">
                  <i class="fa fa-search"></i>
                  Tim kiem
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="collapsedSearch">
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-xs-9">
                    <label for="productName">Ten san pham</label>
                    <input type="text" ng-model="q.name_cont" uib-typeahead="product.name as product.name for product in
                      allProducts| filter:$viewValue | limitTo:8" 
                      typeahead-focus-first='false'
                      typeahead-on-select='onSelectProductName($item, $model)'
                      typeahead-select-on-exact='true'
                      class="form-control">
                  </div>

                  <div class="checkbox col-xs-3" style="margin-top: 30px;">
                    <label>
                      <input type="checkbox" ng-model="q.with_deleted"> Show deleted product
                    </label>
                  </div>
                  <div class="checkbox col-xs-3" style="margin-top: 30px;">
                    <label>
                      <input type="checkbox" ng-model="q.out_of_stock" ng-change="checkOnOutOfStock()"> Het hang
                    </label>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn-default btn-search" ng-click="search()">
                  <i class="fa fa-search"></i>Tim kiem</button>
                <button 
                  ng-click="clearSearch(productAutocomplete)"
                  class="btn btn-danger btn-search-clear"><i class="fa fa-clear"></i>Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- END SEARCH FORM --!>


    <!-- BEGIN LISTING PRODUCT PAGE --!>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <colgroup>
          <col style="width: 5%;"></col>
          <col style="width: 20%;"></col>
          <col style="width: 20%;"></col>
          <col style="width: 12%;"></col>
          <col style="width: 12%;"></col>
          <col style="width: 6%;"></col>
          <col style="width: 6%;"></col>
          <col style="width: 12%;"></col>
          <col style="width: 6%;"></col>
          <col style="width: 13%;"></col>
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Ten san pham</th>
            <th class="text-center">Loai</th>
            <th class="text-center">Gia</th>
            <th class="text-center">Gia sale</th>
            <th class="text-center" ng-if="currentUser.is_admin()">Gia nhap</th>
            <th class="text-center" ng-if="currentUser.is_admin()">Gia nhap gan nhat</th>
            <th class="text-center">Chiet khau</th>
            <th class="text-center">Trong kho</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td class="text-center" style="vertical-align: middle;">
              {{pageConfig.itemsPerPage*(pageConfig.currentPage - 1) + $index + 1}}
            </td>
            <td style='vertical-align: middle;'>
              <a ui-sref="editProduct({id: product.id})">{{product.name}}</a>
            </td>
            <td class="text-center">
              <p ng-repeat="variant in product.variants_attributes">{{variant.option_values}}</p>
            </td>
            <td class="text-center">
              <p ng-repeat="variant in product.variants_attributes">{{variant.price | vnCurrency}}</p>
            </td>
            <td class="text-center">
              <p ng-repeat="variant in product.variants_attributes" ng-class="{'on-sale':
              variant.on_sale}">
               {{variant.sale_price | vnCurrency}}
               <br/>
               {{variant.sale_from_date | date: 'dd-MM-yyyy'}} -- {{variant.sale_to_date | date: 'dd-MM-yyyy'}}
              </p>
              <style type="text/css" media="screen">
                .on-sale{
                  color: green;
                }
              </style>
            </td>
            <td class="text-center" ng-if="currentUser.is_admin()">
              <p ng-repeat="variant in product.variants_attributes">{{variant.cost | vnCurrency}}</p>
            </td>
            <td class="text-center" ng-if="currentUser.is_admin()">
              <p ng-if="variant.newest_import_history_id" ng-repeat="variant in product.variants_attributes">
                <a target="_blank"
                  ui-sref="editImportHistory({id: variant.newest_import_history_id})">{{variant.newest_cost | vnCurrency}}</a>
              </p>
              <p ng-if="!variant.newest_import_history_id" ng-repeat="variant in product.variants_attributes">{{variant.newest_cost | vnCurrency}}</p>

            </td>
            <td class="text-center">
              <p ng-repeat="variant in product.variants_attributes">{{variant.discount_amount |
              vnCurrency}}</p>
            </td>
            <td class="text-center">
              <p ng-repeat="variant in product.variants_attributes" ng-class="{'out-of-stock':
              variant.count_in_stock == 0}">{{variant.count_in_stock}}</p>
            </td>
            <style type="text/css" media="screen">
              .out-of-stock{
                color: red;
              }
            </style>
            <td class="text-center" style='vertical-align: middle;'>
              <a ui-sref="editProduct({id: product.id})" class="btn btn-success"
                ng-if="product.permissions.can_update">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <angular-smartconfirm confirm="delete(product)" ng-if="product.permissions.can_destroy">
                <i class="fa fa-trash"></i>
              </smart-confirm>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
      total-items="pageConfig.totalItems"
      items-per-page="pageConfig.itemsPerPage"
      ng-model="pageConfig.currentPage"
      ng-change="pageChanged()"
      class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
      first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>
