<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Don dat hang
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newOrder" class="btn btn-primary" tooltip-placement='bottom' uib-tooltip='Them moi'
      ng-if="list_permissions.can_create">
      <i class="fa fa-plus"></i>
    </a>

    <a ng-click='get_excel()' class="btn btn-primary" tooltip-placement="bottom"
      ng-if="list_permissions.can_get_excel"
      uib-tooltip="Export XLS">
      <i class="fa fa-file-excel-o"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <div class="search-box-wrapper">
      <div class="input-group filter-button">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-init="searchCollapsed = true;" ng-click="searchCollapsed =
            !searchCollapsed;">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-down':
              !searchCollapsed, 'glyphicon-chevron-right': searchCollapsed}"></span>
            Tim kiem
          </button>
        </span>
        <input type="text" name="quick_search" id="quick_search" class="form-control" 
            placeholder="Quick search.." 
            ng-model="q.customer_name_cont" ng-enter="search(false)">
      </div>
      <div class="well" style="margin-top: 15px;" uib-collapse="searchCollapsed">
        <form name="searchForm" novalidate>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="form-group col-xs-4">
                  <label>Tu ngay</label>
                  <p class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup='dd-MM-yyyy'
                  ng-model="q.created_at_gteq" is-open="popup1.opened"
                  datepicker-options="dateOptions"
                  name="from_date"
                  close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                      ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  </p>
                </div>
                <div class="form-group col-xs-4">
                  <label>Toi ngay</label>
                  <p class="input-group">
                  <input type="text" class="form-control"
                  uib-datepicker-popup='dd-MM-yyyy'
                  ng-model="q.created_at_lteq" is-open="popup2.opened"
                  datepicker-options="dateOptions"
                  name="to_date"
                  close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                      ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  </p>
                </div>

                <div class="form-group col-md-4">
                  <label for="number">Don hang ban boi</label>
                  <ui-select name="order_of_seller" ng-model="q.order_of_seller"
                    style="width:100%;">
                      <ui-select-match placeholder="Ban boi">
                          {{$select.selected.email}}
                      </ui-select-match>
                      <ui-select-choices repeat="staff in allStaffs| filter: $select.search  track
                      by $index"
                          ui-disable-choice="staff.deleted_at">
                          <h4>{{staff.email}}</h4>
                          <strong>Ten:</strong> {{staff.name}}
                      </ui-select-choices>
                  </ui-select>
                </div>

                <div class="form-group col-sm-4">
                  <label for="number">Ma don hang</label>
                  <input type="text" class="form-control" placeholder="OV123" name="number"
                  ng-model="q.number_cont">
                </div>
              </div>
            </div>

            <div class="form-group col-sm-4" ng-class="{'has-error': searchForm.customer_number.$dirty &&
              searchForm.customer_number.$invalid}">
              <label for="customer_number">Ma KH</label>
              <input type="text" class="form-control" placeholder="KH123" name="customer_number"
              ng-model="q.customer_number_cont">
            </div>

            <div class="form-group col-sm-4" ng-class="{'has-error': searchForm.email.$dirty &&
              searchForm.email.$invalid}">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="ongvangnht@gmail.com" name="email"
              ng-model="q.customer_email_cont">
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Ten</label>
              <input type="text" class="form-control" placeholder="Nguyen Huu Trung" name="name"
              ng-model="q.customer_name_cont">
            </div>

            <div class="form-group col-sm-4" ng-class="{'has-error':
                    searchForm.phone.$dirty && searchForm.phone.$invalid}">
              <label for="exampleInputEmail1">Phone</label>
              <input type="text" class="form-control" placeholder="01279012790" name="phone"
                ng-model="q.customer_phone_eq" mask="9999-999-9999?" mask-clean="true" mask-restrict="reject">
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Tinh trang</label>
              <select class="form-control" name="state" ng-model="q.state_eq">
                <option value="completed">Chot sale</option>
                <option value="delivered">Da gui</option>
                <option value="received">Da nhan</option>
                <option value="refunded">Tra hang</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <a ng-disabled="searchForm.$invalid" ng-click="search(searchForm.$invalid)" class="btn btn-default"> <i class="fa
                  fa-search"></i>Tim kiem</a>
              <a ng-click="clearSearch()" class="btn btn-default">Clear</a>
            </div>
          </div>
      </form></div>

    </div>
    <!-- END SEARCH FORM --!>


    <!-- B LISTING ORDERS --!>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <colgroup>
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 15%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 15%;">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">Ngày đặt hàng</th>
            <th class="text-center">Mã đơn hàng</th>
            <th class="text-center">Khách hàng</th>
            <th class="text-center">Số điện thoại</th>
            <th class="text-center">Địa chỉ</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center">Tổng tiền</th>
            <th class="text-center">Chiết khấu</th>
            <th class="text-center">Bán bởi</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in orders">
            <td class="text-center">{{order.created_at | date: 'dd-MM-yyyy'}}</td>
            <td class="text-center">
              <a ui-sref="editOrder({id: order.number})">{{order.number}}</a>
            </td>
            <td class="text-center">
              <a ui-sref="editCustomer({id: order.customer.number})"
                target="_blank"><p>{{order.customer.number}}</p></a>
              <p>{{order.customer.name}}</p>
            </td>
            <td class="text-center">
              {{order.customer.phone}}
            </td>
            <td class="text-center">
              {{order.customer.address}}
            </td>
            <td class="text-center">
              {{order.vietnamese_state}}
              <br>
              <small class="text-center" ng-if="currentUser.is_subadmin && order.is_sent_refund_request &&
                !order.is_refunded && !order.is_refused_refund_request">Đã gửi yêu cầu trả
                hàng</small>
              <small class="text-center" ng-if="currentUser.is_subadmin && order.is_refused_refund_request">Admin
                từ chối yêu cầu trả hàng này</small>

              <small ng-if='currentUser.is_admin() && order.is_sent_refund_request'>Quản lý đã gửi
                yêu cầu trả hàng
              <span ng-if="order.is_refused_refund_request">và bạn đã từ chối</span></small>
            </td>
            <td class="text-center">
              {{order.total | vnCurrency}}
            </td>
            <td class="text-center">
              {{order.commission.amount | vnCurrency}}
            </td>
            <td class="text-center">
              {{order.seller.email}}
            </td>
            <td class="text-center">
              <a ui-sref="editOrder({id: order.number})" class="btn btn-success"
                ng-if="order.permissions.can_update">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <angular-smartconfirm confirm="delete(order)" ng-if="order.permissions.can_destroy"><i class="fa fa-trash"></i></smart-confirm>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- E LISTING ORDERS --!>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
    total-items="pageConfig.totalItems"
    items-per-page="pageConfig.itemsPerPage"
    ng-model="pageConfig.currentPage"
    ng-change="pageChanged()"
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
    first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>

