<div class="modal-header">
  <h3 class="modal-title">Lần nhập</h3>
</div>
<div class="modal-body">
  <form name="pay_form" novalidate>
    <div class="form-group" ng-class="{'has-error': pay_form.amount.$invalid &&
      pay_form.amount.$dirty }">
      <label for="amount">Số tiền:</label>
      <input name="amount"
        mask-money mm-options="moneyOptions"
        ng-model="commission_pay.amount" required
        type="text" class="form-control">
      <div class="help-block" ng-messages="pay_form.amount.$error"
        ng-show="pay_form.amount.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>
    <div class="form-group" 
      ng-class="{'has-error': pay_form.description.$invalid &&
      pay_form.description.$dirty }">
      <label for="description">Diễn giải</label>
      <textarea class="form-control" name="description" ng-model="commission_pay.description"></textarea>
      <div class="help-block" ng-messages="pay_form.description.$error"
        ng-show="pay_form.description.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': pay_form.note.$invalid &&
      pay_form.note.$dirty }">
      <label for="note">Ghi chú</label>
      <textarea class="form-control" name="note" ng-model="commission_pay.note"></textarea>
      <div class="help-block" ng-messages="pay_form.note.$error"
        ng-show="pay_form.note.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" 
    ng-disabled="pay_form.$invalid || commission_pay.isCreating "
    ng-click="save(pay_form.$invalid)">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
