<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <a ui-sref="editStaff({id: commission_in_month.seller_id})">
      {{commission_in_month.seller.name}}
    </a>
    <span class="current">
      Tiền hoa hồng tháng {{commission_in_month.in_month | date: 'dd-MM-yyyy'}}
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="listingStaffs" class="btn btn-primary"
      tooltip-placement='bottom'
      uib-tooltip='Quay ve'>
      <i class="fa fa-arrow-left"></i>
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <colgroup>
          <col style="width: 5%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 5%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 30%;">
          <col style="width: 30%;">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Ngày</th>
            <th class="text-center">Nhan viên</th>
            <th class="text-center">MDH</th>
            <th class="text-center">Giá trị đơn hàng</th>
            <th class="text-center">Chiết khấu</th>
            <th class="text-center">Diễn giải</th>
            <th class="text-center">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="commission in commission_in_month.commissions">
            <td class="text-center" style="vertical-align: middle;">
              {{$index + 1}}
            </td>
            <td class="text-center">{{commission.created_at | date: 'dd-MM-yyyy'}}</td>
            <td class="text-center">{{commission_in_month.seller.name}}</td>
            <td class="text-center" ><a ui-sref="editOrder({id: commission.order.number})"
              target="_blank">{{commission.order.number}}</a></td>
            <td class="text-center">{{commission.order.total | vnCurrency }}</td>
            <td class="text-center">{{commission.amount | vnCurrency }}</td>
            <td class="text-center">{{ commission.description }}</td>
            <td class="text-center">{{ commission.note }}</td>
          </tr>
          <tr>
            <td class="text-center" colspan="3">Tổng</td>
            <td class="text-center">{{commission_in_month.number_of_orders}}</td>
            <td class="text-center" >{{commission_in_month.order_total | vnCurrency}}</td>
            <td class="text-center">{{commission_in_month.commission_total | vnCurrency}}</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <button class="btn btn-success btn-block" ng-click="addPay()"
        ng-if="commission_in_month.permissions_for_list_of_pays.permissions.can_create">
        <i class="fa fa-plus"></i>
      </button>
      <br>
      <table class="table table-bordered table-striped table-hover">
        <tbody>
          <tr>
            <th><strong>Tổng chiết khấu</strong></th>
            <td colspan="6">{{commission_in_month.commission_total | vnCurrency}}</td>
          </tr>
          <tr ng-repeat="pay in commission_in_month.pays">
            <th><strong>Nhập lần {{$index + 1}}</strong></th>
            <td>{{pay.amount | vnCurrency }}</td>
            <td>{{pay.description}}</td>
            <td>{{pay.note}}</td>
            <td>{{pay.created_at | date: 'dd-MM-yyyy' }}</td>
            <td>{{pay.updated_at | date: 'dd-MM-yyyy' }}</td>
            <td class="text-center">
              <a ng-click="updatePay(pay)" class="btn btn-success" ng-if="pay.permissions.can_update">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <angular-smartconfirm confirm="destroyPay(pay)"  ng-if="pay.permissions.can_destroy"><i class="fa fa-trash"></i></smart-confirm>
            </td>
          </tr>
          <tr>
            <th><strong>Tồn cuối kì</strong></th>
            <td colspan="6">{{commission_in_month.ton_cuoi_ky | vnCurrency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

