<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Lich su nhap kho
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newImportHistory" class="btn btn-primary" tooltip-placement='bottom'
      uib-tooltip='Nhap kho'
      ng-if="list_permissions.can_create">
      <i class="fa fa-plus"></i>
    </a>

    <a ng-click='get_excel()' class="btn btn-primary" tooltip-placement="bottom"
      ng-if="list_permissions.can_get_excel"
      uib-tooltip="Export XLS">
      <i class="fa fa-file-excel-o"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <form name="searchForm" novalidate>
      <div class="search-box-wrapper">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsedSearch = !collapsedSearch;" class="collapse-btn-a">
                  <i class="fa fa-search"></i>
                  Tim kiem
                </a>
              </h4>
            </div>
            <div uib-collapse="collapsedSearch">
                <div class="panel-body" style="min-height: 150px;">
                  <div class="row">
                    <!-- <div class="form&#45;group col&#45;md&#45;4"> -->
                      <!--   <label for="name">Ten co so</label> -->
                      <!--   <input type="text" class="form&#45;control" placeholder="name" -->
                      <!--   name="name" ng&#45;model='q.name_cont_any'> -->
                      <!-- </div> -->
                      <div class="form-group col-xs-12 date-range">
                        <div class="col-md-6">
                          <label>Tu ngay</label>
                          <p class="input-group">
                          <input type="text" class="form-control"
                          uib-datepicker-popup='dd-MM-yyyy'
                          ng-model="q.created_at_gteq" is-open="popup1.opened" datepicker-options="dateOptions"
                          ng-required="true"
                          close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                              ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <label>Toi ngay</label>
                          <p class="input-group">
                          <input type="text" class="form-control"
                          uib-datepicker-popup='dd-MM-yyyy'
                          ng-model="q.created_at_lteq" is-open="popup2.opened" datepicker-options="dateOptions"
                          ng-required="true"
                          close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                              ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                          </p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <button class="btn btn-default btn-search"
                    ng-disabled="searchForm.$invalid"
                    ng-click="search(searchForm.$invalid)">
                    <i class="fa fa-search"></i>Tim kiem</button>
                  <button 
                    ng-click="clearSearch()"
                    class="btn btn-danger btn-search-clear"><i class="fa fa-clear"></i>Clear</button>
                </div>
            </div>
          </div>
        </div>
      </form>
      <!-- END SEARCH FORM --!>


      <!-- B LISTING IMPORT HISTORY --!>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <colgroup>
            <col style="width: 10%;">
            <col style="width: 30%;">
            <col style="width: 10%;">
            <col style="width: 15%;">
            <col style="width: 15%;" ng-if="currentUser.is_admin()">
            <col style="width: 10%;">
            <col style="width: 10%;">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">STT</th>
              <th class="text-center">Tieu de</th>
              <th class="text-center">Ngay nhap</th>
              <th class="text-center">Tong so muc</th>
              <th class="text-center" ng-if="currentUser.is_admin()">Tong gia nhap</th>
              <th class="text-center">Ngay chinh sua</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="import_history in import_histories">
              <td class="text-center">
                {{pageConfig.itemsPerPage*(pageConfig.currentPage - 1) + $index + 1}}
              </td>
              <td class="text-center"><a ui-sref="editImportHistory({id: import_history.id})">{{import_history.title}}</a></td>
              <td class="text-center">{{import_history.created_at | date : 'dd-MM-yyyy'}}</td>
              <td class="text-center">{{import_history.number_of_items}}</td>
              <td class="text-center" ng-if="currentUser.is_admin()">{{(import_history.cost_total + import_history.other_fee_total
                + import_history.delivery_fee_total) | vnCurrency}}</td>
              <td class="text-center">{{import_history.updated_at | date: 'dd-MM-yyyy' }}</td>
              <td class="text-center">
                <a ui-sref="editImportHistory({id: import_history.id})" class="btn btn-success"
                   ng-if="import_history.permissions.can_update">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <angular-smartconfirm confirm="delete(import_history)"
                ng-if="import_history.permissions.can_destroy">
                  <i class="fa fa-trash"></i>
                </smart-confirm>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- E LISTING IMPORT HISTORY --!>

      <nav class="pagination-wrapper">
      <uib-pagination boundary-links="true"
      total-items="pageConfig.totalItems"
      items-per-page="pageConfig.itemsPerPage"
      ng-model="pageConfig.currentPage"
      ng-change="pageChanged()"
      class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
      first-text="&laquo;" last-text="&raquo;"></uib-pagination>
      </nav>
    </div>
  </div>

