<div id="page-nav" class="main-nav" >
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current" ng-if="!order.number">
      Đặt hàng
    </span>
    <span class="current" ng-if="order.number">
      ĐƠN HÀNG {{order.number}}
    </span>
  </div>

  <div id="page-nav-right">
    <a ng-click="save()" class="btn btn-success"
      ng-disabled="!order.id"
      tooltip-placement='bottom' uib-tooltip='Luu '>
      <i class="fa fa-save"></i>
    </a>

    <a ui-sref="listingOrders" class="btn btn-primary" 
      tooltip-placement='bottom' uib-tooltip='Quay ve'>
      <i class="fa fa-arrow-left"></i>
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <div ng-include="'admin/orders/shared/_order_summary.html'"
      ng-controller="orderSummaryCtrl"></div>
    <!-- BEGIN THONG TIN KHACH HANG -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="pull-left">Khách hàng</h4>
        <button 
          ng-if="order.permissions.can_update"
          class="btn btn-success pull-right" ng-click="addNewCustomer()">
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-success pull-right"
          ng-if="order.permissions.can_update"
          ng-show="order.customer"
          ng-click="editCustomer()"
          style="margin-right: 10px;">
          <i class="fa fa-pencil-square-o"></i>
        </button>
        <div class="clear"></div>
      </div>
      <div class="panel-body row">
        <div class="form-group col-sm-12">
          <label for="">Chọn khách hàng</label>
          <ui-select ng-model="order.customer" style="width: 100%;"
          ng-disabled="!order.permissions.can_update">
          <ui-select-match>
            <span ng-bind="$select.selected.description"></span>
          </ui-select-match>
          <ui-select-choices 
          repeat="customer in customers track by customer.id"
          refresh="searchCustomer($select.search)"
          refresh-delay='0'>
          <h5>{{customer.description}}</h5>
          <strong>Địa chỉ:</strong> {{customer.address}}<br/>
          <strong>Điện thoại:</strong> {{customer.phone}}
          </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <!-- END THONG TIN KHACH HANG -->

    <!-- BEGIN THONG TIN DON HANG -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="pull-left">Danh mục sản phẩm</h4>
        <button class="btn btn-success pull-right" ng-click="addLineItem()"
          ng-if="order.permissions.can_update">
          <i class="fa fa-plus"></i>
        </button>
        <div class="clear"></div>
      </div>

      <table class="table table-hover table-striped table-responsive">
        <thead>
          <tr>
            <th class="text-center">Sản phẩm</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Đơn giá</th>
            <th class="text-center">Chiết khấu</th>
            <th class="text-center">Thành tiền</th>
            <!-- Chi admin xem dc gia von-->
            <th class="text-center" ng-if="currentUser.is_admin()">Giá vốn</th>
            <th ng-if="order.permissions.can_update"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in order.line_items_attributes">
            <td>
              <a ui-sref="editProduct({id: item.variant.product_id})" target="_blank">
                {{item.variant.name}}
              </a>
            </td>
            <td class="text-center">
                {{ item.quantity || '0' }}
              </span>
            </td>
            <td class="text-center">
              <p>
              {{item.price_with_sale | vnCurrency }}
              </p>
              <p ng-if="item.on_sale" style="text-decoration: line-through;">
                {{item.price | vnCurrency }}
              </p>
            </td>
            <td class="text-center">
              {{item.discount_amount | vnCurrency }}
            </td>
            <td class="text-center">{{ itemTotal(item) | vnCurrency }}</td>
            <td class="text-center" ng-if="currentUser.is_admin()">{{item.origin_price_total | vnCurrency }}</td>
            <td class="text-center" ng-if="order.permissions.can_update">
                <a ng-click="editLineItem(item)" class="btn btn-success">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <angular-smartconfirm confirm="deleteLineItem(item)" 
                  ng-if="order.permissions.can_update"><i class="fa fa-trash"></i></smart-confirm>
            </td>
          </tr>
          <tr>
            <td colspan="8" style="text-align: right;">
              <table style="width: 100%;">
                <colgroup>
                  <col style="width: 80%;">
                  <col style="width: 20%;">
                </colgroup>
                <tbody>
                  <tr>
                    <td>Phí vận chuyển: </td>
                    <td class="td-left">
                      <input type="text" class="form-control" 
                        mask-money mm-options="moneyOptions"
                        name="delivery_fee_total"
                        ng-model="order.delivery_fee_total"
                        ng-disabled="!order.permissions.can_update"
                        style="width: 98%; display: inline-block;">
                    </td>
                  </tr>
                  <tr>
                    <td>Chi phí khác: </td>
                    <td class="td-left">
                      <input type="text" class="form-control" 
                        mask-money mm-options="moneyOptions"
                        name="other_fee_total"
                        ng-model="order.other_fee_total"
                        ng-disabled="!order.permissions.can_update"
                        style="width: 98%; display: inline-block;">
                    </td>
                  </tr>
                  <tr>
                    <td>Người mua trả phí vận chuyển: </td>
                    <td class="td-left">
                        <div class="checkbox">
                        <label>
                          <input type="checkbox" 
                            ng-model="order.buyer_pay_for_delivery_fee"
                            ng-disabled="!order.permissions.can_update">
                        </label>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Tổng chiết khấu:</td>
                    <td class="td-left">
                      {{order.discount_amount_total | vnCurrency}}
                    </td>
                  </tr>
                  <tr ng-if="currentUser.is_admin()">
                    <td>Tổng giá vốn: </td>
                    <td class="td-left">
                      {{order.origin_price_total | vnCurrency}}
                    </td>
                  </tr>
                  <tr>
                    <td>Tổng giá trị đơn hàng:</td>
                    <td class="td-left">{{order.total | vnCurrency}}</td>
                  </tr>
                  <tr ng-if="currentUser.is_admin()">
                    <td>Lợi nhuận: </td>
                    <td class="td-left">
                      {{order.debit_total | vnCurrency }}
                    </td>
                  </tr>
              </tbody></table>
              <style type="text/css" media="screen">
                .td-left{
                  text-align: left;
                  padding-left: 25px;
                }

              </style>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-if="order.id && order.seller" class="commission-info" ng-include="'admin/orders/shared/_order_commission.html'"
      ng-controller="orderCommissionCtrl"></div>
</div>

