<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      {{staff.email}}
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="listingStaffs" class="btn btn-primary"
      tooltip-placement='bottom'
      uib-tooltip='Quay ve'>
      <i class="fa fa-arrow-left"></i>
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
      <uib-tabset active="active">
        <uib-tab index="0" heading="Thong tin">
            <form name="staffForm" novalidate>
              <div class="panel panel-default">
                <div class="panel-heading">Thong tin chung</div>
                <div class="panel-body row">
                  <div class="col-sm-12">
                    <div class="form-group" ng-class="{'has-error': staffForm.name.$invalid &&
                      staffForm.name.$dirty }">
                      <label for="name">Ho ten*</label>
                      <input 
                        name="name" ng-model="staff.name" required
                        type="text" class="form-control" placeholder="Ong Vang NHT">
                      <div class="help-block" ng-messages="staffForm.name.$error"
                        ng-show="staffForm.name.$dirty">
                        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': staffForm.email.$invalid &&
                      staffForm.email.$dirty }">
                      <label for="email">Email*</label>
                      <input 
                        name="email" ng-model="staff.email" required
                        type="email" class="form-control" placeholder="staff@gmail.com">
                      <div class="help-block" ng-messages="staffForm.email.$error"
                        ng-show="staffForm.email.$dirty">
                        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': staffForm.password.$invalid &&
                      staffForm.password.$dirty }">
                      <label for="password">Password</label>
                      <input 
                        name="password" ng-model="staff.password"
                        type="password" class="form-control" placeholder="staff@gmail.com">
                      <div class="help-block" ng-messages="staffForm.password.$error"
                        ng-show="staffForm.password.$dirty">
                        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                      </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': staffForm.note.$invalid &&
                      staffForm.note.$dirty }">
                      <label for="note">Ghi chu</label>
                      <textarea name="note" class="form-control" ng-model="staff.note"
                        placeholder="So dien thoai, dia chi, ...">
                      </textarea>
                      <div class="help-block" ng-messages="staffForm.note.$error"
                        ng-show="staffForm.note.$dirty">
                        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="checkbox" ng-repeat="role in roles" 
                          style="float: left; margin-left: 15px; margin: 10px;">
                          <label>
                            <input type="checkbox" name="role_ids" checklist-model="staff.role_ids" checklist-value="role.id"> {{role.vietnamese_name}}
                          </label>
                        </div>
                      </div>
                    </div>
                </div></div>
              </div>
            </form>
            <div class="actions-wrapper">
              <button class="btn btn-success" ng-disabled="staffForm.$invalid"
                ng-disabled="staff.isCreating"
                ng-click="update(staffForm.$invalid)">Create</button>
              --
              <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Hoa hong"> 
          <div ng-include="'admin/commissions_in_month/index/_index.html'"
            ng-controller='CommissionsInMonthCtrl'></div>
        </uib-tab>
      </uib-tabset>
  </div>
</div>

