<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline'}) do |f| %>
  <div class="content-box-wrapper">
      <% if flash[:alert] %>
        <div class="alert alert-danger" style="width: 95%; margin: 0px auto; margin-bottom: 10px;"><%= flash[:alert] %></div>
      <% end %>
    <div class="form-group"> 
      <div class="input-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email' %>
        <span class="input-group-addon bg-blue">
          <i class="glyph-icon icon-envelope-o"></i>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        <span class="input-group-addon bg-blue">
          <i class="glyph-icon icon-unlock-alt"></i>
        </span>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <div class="form-group">
      <a href="" title="Recover password">Forgot Your Password?</a>
    </div>
    <button type="submit" class="btn btn-success btn-block login-btn" >Login</button>
  </div>
<% end %>

<style type="text/css" media="screen">
  .content-box-wrapper .form-group{
  width: 95%;
  margin-bottom: 10px;
  }
  .content-box-wrapper .login-btn{
  width: 95%;
  margin: 0px auto;
  margin-bottom: 10px;
  }
</style>
