<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Tien hoa hong
    </span>
  </div>

  <div id="page-nav-right">
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <div ng-include="'admin/commissions/index/_index.html'"></div>
  </div>
</div>

