<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Listing Suppliers
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newSupplier" title="" class="btn btn-blue-alt sb-open-right updateEasyPieChart">
      <i class="fa fa-plus"></i>
      New Supplier
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <form name="supplierSearchForm" novalidate>
      <div class="search-box-wrapper">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsedSearch = !collapsedSearch;" class="collapse-btn-a">
                  <i class="fa fa-search"></i>
                  Tim kiem
                </a>
              </h4>
            </div>
            <div uib-collapse="collapsedSearch">
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="name">Ten co so</label>
                    <input type="text" class="form-control" placeholder="name"
                    name="name" ng-model='q.name_cont_any'>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" placeholder="Search by phone"
                    name="phone" ng-model='q.phones_number_cont'>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="phone">Mat hang cung cap</label>
                    <select class="form-control"
                      ng-model="q.products_id_in"
                      chosen multiple
                      search-contains="true"
                      display-selected-options="false"
                      ng-options="product.id as product.name for product in allProducts">
                    </select>
                  </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn-default btn-search"
                  ng-disabled="supplierSearchForm.$invalid"
                  ng-click="search(supplierSearchForm.$invalid)">
                  <i class="fa fa-search"></i>Tim kiem</button>
                <button 
                  ng-click="clearSearch()"
                  class="btn btn-danger btn-search-clear"><i class="fa fa-clear"></i>Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- END SEARCH FORM --!>


    <!-- BEGIN LISTING SUPPLIER PAGE --!>
    <div class='table-responsive'>
      <table class="table table-bordered table-striped table-hover">
        <colgroup>
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">NHA CUNG CAP</th>
            <th class="text-center">CO SO</th>
            <th class="text-center">DIA CHI</th>
            <th class="text-center">PHONE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in suppliers">
            <td class="text-center"><a ui-sref="editSupplier({id: supplier.slug})">{{supplier.name}}</a></td>
            <td class="text-center">{{supplier.coso}}</td>
            <td class="text-center">{{supplier.address}}</td>
            <td class="text-center">{{supplier.list_phones}}</td>
            <td class="text-center">
              <a ui-sref="editSupplier({id: supplier.slug})" class="btn btn-success">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <angular-smartconfirm confirm="delete(supplier)"><i class="fa fa-trash"></i></smart-confirm>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- BEGIN LISTING SUPPLIER PAGE --!>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
    total-items="pageConfig.totalItems"
    items-per-page="pageConfig.itemsPerPage"
    ng-model="pageConfig.currentPage"
    ng-change="pageChanged()"
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
    first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>

