<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Tạo mới khách hàng
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="listingCustomers" title="" class="btn btn-blue-alt sb-open-right updateEasyPieChart">
      <i class="fa fa-plus"></i>
      Quay về
    </a>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <form name="customerForm" novalidate>
      <div class="panel panel-default">
        <div class="panel-heading">Thông tin chung</div>
        <div class="panel-body row"><div class="col-sm-12">
            <div class="form-group" ng-class="{'has-error': customerForm.name.$invalid &&
              customerForm.name.$dirty }">
              <label for="name">Khách hàng*</label>
              <input 
              name="name" ng-model="customer.name" required
              type="text" class="form-control" placeholder="Họ tên khách hàng">
              <div class="help-block" ng-messages="customerForm.name.$error"
                ng-show="customerForm.name.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.phone.$invalid &&
              customerForm.phone.$dirty }">
              <label for="phone">Phone</label>
              <input type="text" class="form-control"
              placeholder="0948-993-995"
              name="phone" ng-model="customer.phone" mask="9999-999-9999?" mask-clean="true" mask-restrict="reject">
              <p class="help-block" ng-show="customerForm.phone.$dirty &&
              customerForm.phone.$error.mask">0948-993-995</p>
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.address.$invalid &&
              customerForm.address.$dirty }">
              <label for="address">Địa chỉ</label>
              <input 
              name="address" ng-model="customer.address"
              type="text" class="form-control" placeholder="125 Nguyễn Thị Thập, Quận 7, Hồ Chí Minh">
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.birthday.$invalid &&
              customerForm.birthday.$dirty }">
              <label for="birthday">Ngày sinh</label>
              <input class="form-control" type="text" placeholder='25-12-2015'
              name="birthday" mask="39-19-9999" ng-model="customer.birthday"
              mask-restrict="reject">
              <p class="help-block" ng-show="customerForm.birthday.$dirty &&
              customerForm.birthday.$error.mask">25-12-2015</p>
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.birthday.$invalid &&
              customerForm.birthday.$dirty }">
              <label for="id_number">CMND</label>
              <input class="form-control" type="text" 
                name="id_number" mask="9999999999?9?9?9?9?" ng-model="customer.id_number"
                mask-restrict="reject" validate='false'>
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.email.$invalid &&
              customerForm.email.$dirty }">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="trungnguyenhuu262@gmail.com"
                name="email" ng-model="customer.email">
              <div class="help-block" ng-messages="customerForm.email.$error"
                ng-show="customerForm.email.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.facebook.$invalid &&
              customerForm.facebook.$dirty }">
              <label for="facebook">Facebook</label>
              <input type="text" class="form-control"
                name="facebook" ng-model="customer.facebook">
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.job.$invalid &&
              customerForm.job.$dirty }">
              <label for="job">Nghề nghiệp</label>
              <input type="text" class="form-control"
                name="job" ng-model="customer.job">
              <div class="help-block" ng-messages="customerForm.job.$error"
                ng-show="customerForm.job.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': customerForm.character.$invalid &&
              customerForm.character.$dirty }">
              <label for="character">Tính cách</label>
              <textarea class="form-control" placeholder="Mô tả tính cách"
                name="character" ng-model='customer.character' ng-maxlength='1000'>
              </textarea>
              <div class="help-block" ng-messages="customerForm.character.$error"
                ng-show="customerForm.character.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>
        </div></div>
      </div>
    </form>
    <div class="actions-wrapper">
      <button class="btn btn-success" ng-disabled="customerForm.$invalid || customer.isCreating"
        ng-click="create(customerForm.$invalid)">Create</button>
      <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>

