#page-header {
    background: #232323;
}

#page-content{
  background-color: white;
}

.page-box{
  padding: 0px;
}
.pagination-wrapper{
  text-align: right;
}
.order-tab-wrapper{
  margin-top: 10px;
}
.actions-wrapper{
  text-align:center;
  background: #f8f8f8;
  padding: 15px;
  border: 1px solid #ccc;
}

.date-range > input{
  width: 45%;
  display: inline-block;
}

table.table th{
  vertical-align: middle !important;
}
.table{
  color: #333;
}

.table-hover tr:hover td {
  color: #000;
  background: #fafafa;
}
select.form-control{
  background-color: white;
}

.btn-search, .btn-search-clear{
  width: 150px;
}


/* B FOR AUTOCOMPLETE HIGHT LIGHT SEARC*/
.highlight{
  color: #D9534F;
  font-weight: bold;
}

/*Fix autcomplete hidden in panel */
.angucomplete-dropdown{
  position: fixed!important;
}

.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 200px; // your preference
}
/* E FOR AUTOCOMPLETE HIGHT LIGHT SEARC*/


.collapse-btn-a{
  display: block;
  cursor: pointer;
}

/* B FOR CHOSEN */
.chosen-container-multi{
  border: none;
  padding: 0px;
}
/* E FOR CHOSEN */

/* .form-control{ */
/*   height: 38px; */
/*   padding: 8px 16px; */
/* } */
.search-box-wrapper{
  margin-bottom: 20px;
}
.search-box-wrapper .well{
  margin-bottom: 0px;
}
/* .search-box-wrapper .btn{ */
/*   height: 38px; */
/* } */
/* .filter-button button{ */
/*   height: 38px; */
/* } */

#page-header {
    background: #7B6F2A;
}
#header-logo {
    text-transform: uppercase;
    color: #fff;
    background: #7B6F2A;
}
#header-logo a{
  /* background-color: #FCE257; */
  color: #FCE257;
  font-size: 18px;
}
.sidebar-collapsed #header-logo a{
  background-color: #FCE257;
  color: #7B6F2A;

}

#page-sidebar{
  /* border-right: solid 1px white; */
}
#page-sidebar, .sb-slidebar {
    background-color: #7B6F2A;
}
#sidebar-top{
  background-color: #FBD60B;
}
#page-sidebar li a {
    color: white;
}
#sidebar-menu li a .glyph-icon {
  opacity: 1;
}


#sidebar-menu ul li a{
  font-size: 16px;
  padding: 0px;
  padding-left: 10px;
}
#sidebar-menu ul li a > i.fa{
  /* padding: 0px 10px; */
  margin-right: 10px;
}

.user-profile-sm .user-welcome {
  font-size: 16px;
  color: #7B6F2A;
}
.user-profile-sm .user-welcome b {
   color: #00D8FF!important;
}

#page-sidebar .divider {
    background: rgba(252, 226, 87, 0.82);
}

#header-logo{
  color: #FBD60B;
  font-size: 22px;
}

/* BREAD CULUMN */
#page-nav {
    background: #FCE257;
    border: none;
}
#page-breadcrumb {
    color: #a3a3a3;
}
#page-breadcrumb .current{
  color: #7B6905;
}

/* FOR TABLE */
.table{
  border-collapse: collapse;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: white;
}
.ui-select-bootstrap > .ui-select-choices{
  overflow-x: scroll;
}

.page-box{
  margin-top: 50px;
}

#page-nav.main-nav{
 position: fixed; 
 width: 100%; 
 height: 50px;
 z-index: 1000;
}
#page-nav-right{
  right: 290px;
}
.page-nav-right-collapsed{
  right: 290px;
}

.page-nav-right-collapsed{
  right: 290px;
}

.sidebar-collapsed #page-sidebar{
  z-index: 99999;
}
