<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Danh sách khách hàng
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newCustomer"  ng-if="list_permissions.can_create"
      class="btn btn-primary" tooltip-placement='bottom' uib-tooltip='Them
      moi'>
      <i class="fa fa-plus"></i>
    </a>

    <a ng-click='get_excel()' class="btn btn-primary" tooltip-placement="bottom"
      ng-if="list_permissions.can_get_excel"
      uib-tooltip="Export XLS">
      <i class="fa fa-file-excel-o"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <form name="requestSearchForm" novalidate>
      <div class="search-box-wrapper">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsedSearch = !collapsedSearch;" class="collapse-btn-a">
                  <i class="fa fa-search"></i>
                  Tìm kiếm
                </a>
              </h4>
            </div>
            <div uib-collapse="collapsedSearch">
              <div class="panel-body">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="number">Trạng thái</label>
                    <select name="state" ng-model='q.state_eq' class="form-control">
                      <option value="">Tất cả</option>
                      <option value="waiting"> Chưa xét duyệt</option>
                      <option value="accepted">Chấp nhận</option>
                      <option value="denied">Từ chối</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="number">Trạng thái</label>
                    <select name="state" class="form-control" ng-model="filterByDay"
                      ng-change="onChoseFilterByDay(filterByDay)">
                      <option value="">Tất cả</option>
                      <option value="in_today">Trong ngày</option>
                      <option value="in_this_week">Trong tuần</option>
                      <option value="in_this_month">Trong tháng</option>
                    </select>
                  </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn-default btn-search"
                  ng-disabled="requestSearchForm.$invalid"
                  ng-click="search(requestSearchForm.$invalid)">
                  <i class="fa fa-search"></i>Tìm kiếm</button>
                <button 
                  ng-click="clearSearch()"
                  class="btn btn-danger btn-search-clear"><i class="fa fa-clear"></i>Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- END SEARCH FORM --!>


    <!-- BEGIN LISTING CUSTOMER PAGE --!>
    <div ng-class="{alert: true, 'alert-success': request.is_accepted, 'alert-danger':
      request.is_denied, 'alert-info': request.is_waitting}" 
      role="alert" ng-repeat="request in refund_requests">
      <a ui-sref="editStaff({id: request.requester.id})" class="alert-link" target="_blank">{{request.requester.name}}</a>
      đã yêu cầu trả hàng (ngày trả: {{request.parameters.refund_date | date: 'dd-MM-yyyy'}})
      cho đơn hàng 
      <a ui-sref="editOrder({id: request.order.number})" class="alert-link" target="_blank">{{request.order.number}}</a>  
      <a ng-click="accept(request)" ng-if="request.is_waitting" class="alert-link"
        target="_blank" style="cursor: pointer;">Chấp nhận |</a> 
      <a ng-click="deny(request)" ng-if="request.is_waitting" class="alert-link" target="_blank" style="cursor: pointer;">Từ chối</a>  
      <span class="label label-success" ng-if="request.is_accepted">Đã chấp nhận</span>
      <span class="label label-danger" ng-if="request.is_denied">Đã từ chối</span>
      <span class="label label-primary" ng-if="request.is_waitting">Đang chờ duyệt</span>
      <span ng-class="{label: true, 'label-success': request.is_accepted, 'label-danger':
        request.is_denied, 'label-primary': request.is_waitting}" style="float:right;">{{request.created_at | date: 'dd-MM-yyyy'}}</span>
    </div>
    <!-- BEGIN LISTING CUSTOMER PAGE --!>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
    total-items="pageConfig.totalItems"
    items-per-page="pageConfig.itemsPerPage"
    ng-model="pageConfig.currentPage"
    ng-change="pageChanged()"
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
    first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>

