<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      {{user.name}}
    </span>
  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <form name="userForm" novalidate>
      <div class="panel panel-default">
        <div class="panel-heading">Thong tin</div>
        <div class="panel-body row">
          <div class="col-sm-12">

            <div class="form-group" ng-class="{'has-error': userForm.name.$invalid &&
              userForm.name.$dirty }">
              <label for="name">Ho ten*</label>
              <input name="name" ng-model="user.name" type="text"
                class="form-control" required>
              <div class="help-block" ng-messages="userForm.name.$error"
                ng-show="userForm.name.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.current_password.$invalid &&
              userForm.current_password.$dirty }">
              <label for="name">Mat khau hien tai</label>
              <input name="current_password" ng-model="user.current_password" type="password"
                class="form-control">
              <div class="help-block" ng-messages="userForm.current_password.$error"
                ng-show="userForm.current_password.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.password.$invalid &&
              userForm.password.$dirty }">
              <label for="name">Mat khau moi</label>
              <input name="password" ng-model="user.password" type="password"
                class="form-control">
              <div class="help-block" ng-messages="userForm.password.$error"
                ng-show="userForm.password.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': userForm.password_confirmation.$invalid &&
              userForm.password_confirmation.$dirty }">
              <label for="name">Mat khau moi</label>
              <input name="password_confirmation" ng-model="user.password_confirmation" type="password"
                class="form-control">
              <div class="help-block" ng-messages="userForm.password_confirmation.$error"
                ng-show="userForm.password_confirmation.$dirty">
                <div ng-messages-include="admin/shared/messages/_messages.html"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success" ng-disabled="userForm.$invalid"
            ng-disabled="user.isUpdating"
            ng-click="update_info(userForm.$invalid)">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

