<div id="page-sidebar" class="rm-transition" ng-controller="SidebarCtrl">
  <div id="page-sidebar-wrapper">
    <div id="sidebar-top">
      <div class="tab-content">
        <div class="tab-pane clearfix fade active in" id="tab-example-1">
          <div class="user-profile-sm clearfix">
            <img width="45" class="img-rounded" ng-src="{{logoSrc}}" alt="">
            <div class="user-welcome">
              Welcome back,
              <b>{{currentUser.name}}</b>
            </div>
            <a ui-sref="profile" title="" class="btn btn-sm btn-black-opacity-alt">
              <i class="fa fa-cog"></i>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div id="sidebar-menu">

      <ul>
        <li>
        <a ui-sref="dashboard" title="Dashboard" class="waves-effect waves-green"
          ng-if="currentUser.permissions.can_read_dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Thống kê</span>
        </a>
        <li>
          <a ui-sref="listingOrders"
            ng-if="currentUser.permissions.can_read_order">
            <i class="fa fa-cab"></i>
            <span>Đơn hàng</span>
          </a>
        </li>
        <li>
          <a ui-sref="listingProducts"
            ng-if="currentUser.permissions.can_read_product">
            <i class="fa fa-cubes"></i>
            <span>Sản phẩm</span>
          </a>
        </li>
        <li>
          <a ui-sref="listingCustomers"
            ng-if="currentUser.permissions.can_read_customer">
            <i class="fa fa-child" style="font-size:20px; margin-right: 15px;"></i>
            <span>Khách hàng</span>
          </a>
        </li>
        <li class="divider"></li>
        <li ng-if="currentUser.permissions.can_read_import_history">
          <a ui-sref="listingImportHistories">
            <i class="fa fa-file"></i>
            <span>Nhập kho</span>
          </a>
        </li>

        <li ng-if="currentUser.permissions.can_read_inventory">
          <a ui-sref="listingInventories">
            <i class="fa fa-file"></i>
            <span>Quản lý tồn kho</span>
          </a>
        </li>

        <li ng-if="currentUser.permissions.can_read_supplier">
          <a ui-sref="listingSuppliers">
            <i class="fa fa-snapchat-ghost"></i>
            <span>Nhà cung cấp</span>
          </a>
        </li>

        <li ng-if="currentUser.permissions.can_read_staff">
          <a ui-sref="listingStaffs">
            <i class="fa fa-snapchat-ghost"></i>
            <span>Nhân sự</span>
          </a>
        </li>

        <li ng-if="currentUser.permissions.can_read_commission">
          <a ui-sref="listingCommissions">
            <i class="fa fa-snapchat-ghost"></i>
            <span>Tiền hoa hồng</span>
          </a>
        </li>

        <li ng-if="currentUser.permissions.can_read_refund_request">
          <a ui-sref="listingRefundRequests">
            <i class="fa fa-snapchat-ghost"></i>
            <span>Yêu cầu trả hàng <span class="badge">{{currentUser.number_of_not_examined_refund_requests }}</span></span>
          </a>
        </li>
      </ul>
    </div><!-- #sidebar-menu -->
  </div><!-- #page-sidebar-wrapper -->
</div><!-- #page-sidebar -->
