<!-- BEGIN PAGE NAV --!>
<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current">
      Danh sách khách hàng
    </span>
  </div>

  <div id="page-nav-right">
    <a ui-sref="newCustomer"  ng-if="list_permissions.can_create"
      class="btn btn-primary" tooltip-placement='bottom' uib-tooltip='Them
      moi'>
      <i class="fa fa-plus"></i>
    </a>

    <a ng-click='get_excel()' class="btn btn-primary" tooltip-placement="bottom"
      ng-if="list_permissions.can_get_excel"
      uib-tooltip="Export XLS">
      <i class="fa fa-file-excel-o"></i>
    </a>
  </div>
</div>
<!-- END PAGE NAV --!>

<div id="page-content" style="min-height: 252px;">
  <div class="page-box">
    <!--- BEGIN SEARCH FORM --!>
    <form name="customerSearchForm" novalidate>
      <div class="search-box-wrapper">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a ng-click="collapsedSearch = !collapsedSearch;" class="collapse-btn-a">
                  <i class="fa fa-search"></i>
                  Tìm kiếm
                </a>
              </h4>
            </div>
            <div uib-collapse="collapsedSearch">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': excelForm.from_date.$invalid &&
                      excelForm.from_date.$dirty }">
                      <label for="from_date">Tu ngay</label>
                      <p class="input-group">
                      <input type="text" class="form-control"
                      uib-datepicker-popup='dd-MM-yyyy'
                      ng-model="q.created_at_gteq" is-open="popup1.opened"
                      datepicker-options="dateOptions"
                      name="from_date" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                          ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      </p>
                      <div class="help-block" ng-messages="excelForm.from_date.$error"
                        ng-show="excelForm.from_date.$dirty">
                        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': excelForm.to_date.$invalid &&
                      excelForm.to_date.$dirty }">
                      <label for="to_date">Toi ngay</label>
                      <p class="input-group">
                      <input type="text" class="form-control"
                      uib-datepicker-popup='dd-MM-yyyy'
                      ng-model="q.created_at_lteq" is-open="popup2.opened"
                      datepicker-options="dateOptions"
                      name="to_date" close-text="Close"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                          ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      </p>
                      <div class="help-block" ng-messages="excelForm.to_date.$error"
                        ng-show="excelForm.to_date.$dirty">
                        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="number">Khach hang cua</label>
                    <ui-select name="customer_of_seller" ng-model="q.customer_of_seller"
                      style="width:100%;">
                        <ui-select-match placeholder="Ban boi">
                            {{$select.selected.email}}
                        </ui-select-match>
                        <ui-select-choices repeat="staff in allStaffs| filter: $select.search  track
                        by $index"
                            ui-disable-choice="staff.deleted_at">
                            <h4>{{staff.email}}</h4>
                            <strong>Ten:</strong> {{staff.name}}
                        </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="number">Mã khách hàng</label>
                    <input type="text" class="form-control" placeholder="KH123"
                    name="number" ng-model='q.number_cont'>
                  </div>

                  <div class="form-group col-md-4">
                    <label for="name">Tên khách hàng</label>
                    <input type="text" class="form-control" placeholder="Nhap ho ten"
                    name="name" ng-model='q.name_cont'>
                  </div>

                  <div class="form-group col-md-4" ng-class="{'has-error':
                    customerSearchForm.phone.$dirty && customerSearchForm.phone.$invalid}">
                    <label for="phone">So dien thoai</label>
                    <input type="text" class="form-control"
                    placeholder="0948-993-995"
                    name="phone" ng-model="q.phone_cont"
                    mask="9999-999-9999?" mask-clean="true" mask-restrict="reject">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" placeholder="125 Nguyen Thi Thap, quan 7, Ho chi Minh"
                    name="address" ng-model='q.address_cont_any'>
                </div>

                <div class="form-group col-md-4">
                  <label for="id_number">CMDN</label>
                  <input type="text" class="form-control" name="id_number" ng-model='q.id_number_cont'>
                </div>

                <div class="form-group col-md-4" ng-class="{'has-error':
                  customerSearchForm.email.$dirty && customerSearchForm.email.$invalid}">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" ng-model='q.email_eq'>
                </div>

                <div class="form-group col-md-4">
                  <label for="birthday">Ngày sinh</label>
                  <input type="text" class="form-control" placeholder='25-12-2015'
                        name="birthday" ng-model='q.birthday_eq'
                        mask="39-19-9999"
                        mask-restrict="reject">
                </div>

                <div class="form-group col-md-4">
                  <label for="job">Nghề nghiệp</label>
                  <input type="text" class="form-control" placeholder='Nuôi ong'
                        name="job" ng-model='q.job_cont_any'>
                </div>

                <div class="form-group col-md-4">
                  <label for="character">Tính cách</label>
                  <input type="text" class="form-control" placeholder='Mô tả tính cách'
                        name="character" ng-model='q.character_cont_any'>
                </div>

                <div class="checkbox col-md-3">
                  <label>
                    <input type="checkbox" name="deleted" ng-model="q.with_deleted"> Hien khach hang
                    da bi xoa
                  </label>
                </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn-default btn-search"
                  ng-disabled="customerSearchForm.$invalid"
                  ng-click="search(customerSearchForm.$invalid)">
                  <i class="fa fa-search"></i>Tìm kiếm</button>
                <button 
                  ng-click="clearSearch()"
                  class="btn btn-danger btn-search-clear"><i class="fa fa-clear"></i>Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- END SEARCH FORM --!>


    <!-- BEGIN LISTING CUSTOMER PAGE --!>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <colgroup ng-if="!q.with_deleted">
          <col style="width: 10%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 10%;">
          <col style="width: 20%;">
        </colgroup>
        <colgroup ng-if="q.with_deleted">
          <col style="width: 10%;">
          <col style="width: 15%;">
          <col style="width: 20%;">
          <col style="width: 20%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 15%;">
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">MKH</th>
            <th class="text-center">KHÁCH HÀNG</th>
            <th class="text-center">PHONE</th>
            <th class="text-center">ĐỊA CHỈ</th>
            <th class="text-center">Ngay sinh</th>
            <th class="text-center" ng-if="q.with_deleted">XÓA VÀO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in customers">
            <td class="text-center"><a ui-sref="editCustomer({id: customer.number})">{{customer.number}}</a></td>
            <td class="text-center">{{customer.name}}</td>
            <td class="text-center">{{customer.phone}}</td>
            <td class="text-center">{{customer.address}}</td>
            <td class="text-center">{{customer.birthday}}</td>
            <td class="text-center" ng-if="q.with_deleted">{{customer.deleted_at | date: 'dd-MM-yyyy'}}</td>
            <td class="text-center">
              <a ui-sref="editCustomer({id: customer.number})" class="btn btn-success"
                ng-if="customer.permissions.can_update">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <angular-smartconfirm confirm="delete(customer)"
              ng-if="customer.permissions.can_destroy"><i class="fa fa-trash"></i></smart-confirm>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- BEGIN LISTING CUSTOMER PAGE --!>

    <nav class="pagination-wrapper">
    <uib-pagination boundary-links="true"
    total-items="pageConfig.totalItems"
    items-per-page="pageConfig.itemsPerPage"
    ng-model="pageConfig.currentPage"
    ng-change="pageChanged()"
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
    first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </nav>
  </div>
</div>

