<div class="modal-header">
  <h3 class="modal-title">Hoa hong</h3>
</div>
<div class="modal-body">
  <form name="commission_form" novalidate>
    <div class="form-group" 
      ng-class="{'has-error': commission_form.amount.$invalid && commission_form.amount.$dirty }">
      <label for="amount">So tien</label>
      <input name="amount"
             mask-money mm-options="moneyOptions"
             ng-model="commission.amount" required
             type="text" class="form-control">
      <div class="help-block" ng-messages="commission_form.amount.$error"
        ng-show="commission_form.amount.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': commission_form.note.$invalid && commission_form.note.$dirty }">
      <label for="note">Ghi chu</label>
      <textarea class="form-control" rows="4" cols="50" name="note" ng-model="commission.note"></textarea>
      <div class="help-block" ng-messages="commission_form.note.$error"
        ng-show="commission_form.note.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Luu</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Huy</button>
</div>
