<!-- BEGIN LISTING SUPPLIER PAGE --!>
<div class='table-responsive'>
  <table class="table table-bordered table-striped table-hover">
    <colgroup>
      <col style="width: 10%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 10%;">
      <col style="width: 20%;">
      <col style="width: 20%;">
      <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr>
        <th class="text-center">Tháng</th>
        <th class="text-center">Tổng chiết khấu</th>
        <th class="text-center">Đã trả</th>
        <th class="text-center">Tồn cuối kì</th>
        <th class="text-center">Số lượng đơn hàng</th>
        <th class="text-center">Tổng giá trị đơn hàng</th>
        <th class="text-center">Chỉnh sửa vào</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="commission_in_month in commissions_in_month">
        <td class="text-center">{{commission_in_month.in_month | date: 'dd-MM-yyyy' }}</td>
        <td class="text-center">{{commission_in_month.commission_total | vnCurrency }}</td>
        <td class="text-center">{{commission_in_month.pay_total | vnCurrency }}</td>
        <td class="text-center">{{commission_in_month.ton_cuoi_ky | vnCurrency }}</td>
        <td class="text-center">{{commission_in_month.number_of_orders }}</td>
        <td class="text-center">{{commission_in_month.order_total | vnCurrency }}</td>
        <td class="text-center">{{commission_in_month.updated_at | date: 'dd-MM-yyyy' }}</td>
        <td class="text-center">
          <a ui-sref="commissionInMonthDetail({staff_id: commission_in_month.seller_id, 
            id: commission_in_month.id})" class="btn btn-success">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- BEGIN LISTING SUPPLIER PAGE --!>

<nav class="pagination-wrapper">
  <uib-pagination boundary-links="true"
  total-items="pageConfig.totalItems"
  items-per-page="pageConfig.itemsPerPage"
  ng-model="pageConfig.currentPage"
  ng-change="pageChanged()"
  class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
  first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</nav>
