<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets-minified/images/icons/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets-minified/images/icons/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets-minified/images/icons/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets-minified/images/icons/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../assets-minified/images/icons/favicon.png">

<%= stylesheet_link_tag    'backend/all', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'backend/all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<script type="text/javascript">
  $(window).load(function(){
  setTimeout(function() {
  $('#loading').fadeOut( 400, "linear" );
  }, 300);
  });
</script>
<style>
  #loading {position: fixed;width: 100%;height: 100%;left: 0;top: 0;right: 0;bottom: 0;display: block;background: #fff;z-index: 10000;}
  #loading img {position: absolute;top: 50%;left: 50%;margin: -23px 0 0 -23px;}
</style>
