<div id="page-nav" class="main-nav">
  <div id="page-breadcrumb">
    <a href="#" title="Dashboard">
      <i class="glyph-icon icon-dashboard"></i>
      Dashboard
    </a>
    <span class="current" ng-if="!import_history.id">
      Tao nhap kho
    </span>
    <span class="current" ng-if="import_history.id">
      Nhap kho {{import_history.created_at | date: 'dd-MM-yyyy'}}
    </span>
  </div>

  <div id="page-nav-right">
    <a ng-click="save()" class="btn btn-success" ng-disabled="!import_history.id"
        ng-if="!import_history.id || import_history.permissions.can_update"
        tooltip-placement='bottom' uib-tooltip='Luu '>
      <i class="fa fa-save"></i>
    </a>

    <a ng-click="export_prices()" 
      ng-if="currentUser.is_admin()"
      class="btn btn-success"
      ng-disabled="!import_history.id"
      tooltip-placement='bottom'
      uib-tooltip="Cap nhat gia toi san pham">
      <i class="fa fa-money"></i>
    </a>

    <a ui-sref="listingImportHistories" class="btn btn-primary" 
      tooltip-placement='bottom' uib-tooltip='Quay ve'>
      <i class="fa fa-arrow-left"></i>
    </a>

  </div>
</div>

<div id="page-content" style="min-height: 280px;">
  <div class="page-box">
    <div class="tab-pane fade active in" id="order">
      <!-- BEGIN TOM TAT THONG TIN DON HANG CHI HIEN KHI EDIT ORDER -->
      <table class="table table-bordered table-responsive table-hover table-striped">
        <colgroup>
          <col style="width: 70%;">
          <col style="width: 30%;">
        </colgroup>
        <thead>
          <tr>
            <th colspan="2">
              Thong ke
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tieu de</td>
            <td class="text-center">
                <input name="title"
                       ng-model="import_history.title" required
                       type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>Ngay nhap</td>
            <td class="text-center">{{ import_history.created_at | date: 'dd-MM-yyyy' }}</td>
          </tr>
          <tr>
            <td>Tong so muc</td>
            <td class="text-center">{{ import_history.number_of_items}}</td>
          </tr>
          <tr ng-if="currentUser.is_admin()">
            <td>Tong gia nhap</td>
            <td class="text-center">{{ import_history.cost_total | vnCurrency}}</td>
          </tr>
          <tr >
            <td>Tong phi van chuyen</td>
            <td class="text-center">
                <input name="delivery_fee_total"
                       mask-money mm-options="moneyOptions"
                       ng-model="import_history.delivery_fee_total" 
                       required
                       type="text" class="form-control">
            </td>
          </tr>
          <tr ng-if="currentUser.is_admin()">
            <td>Tong chi phi khac</td>
            <td class="text-center">{{ import_history.other_fee_total | vnCurrency}}</td>
          </tr>
          <tr ng-if="currentUser.is_admin()">
            <td>Tong chi phi (Gia nhap + chi khi khac + Phi van chuyen)</td>
            <td class="text-center">{{ import_history.total_of_all_cost | vnCurrency}}</td>
          </tr>
          <tr ng-if="currentUser.is_admin()">
            <td>Tong chiet khau</td>
            <td class="text-center">{{ import_history.discount_total | vnCurrency }}</td>
          </tr>
          <tr ng-if="currentUser.is_admin()">
            <td>Tong gia ban du kien</td>
            <td class="text-center">{{import_history.price_total | vnCurrency }}</td>
          </tr>
          <tr ng-if="currentUser.is_admin()">
            <td>Tong loi nhuan</td>
            <td class="text-center">{{import_history.debit_total | vnCurrency }}</td>
          </tr>
        </tbody>
      </table>
      <!-- END TOM TAT THONG TIN DON HANG CHI HIEN KHI EDIT ORDER -->

      <div class="divider"></div>

      <!-- BEGIN ORDER -->
      <!-- BEGIN THONG TIN DON HANG -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="pull-left">Danh muc san pham</h4>
          <button class="btn btn-success pull-right" ng-click="addImportItem()"
            ng-if="!import_history.id || import_history.permissions.can_update">
            <i class="fa fa-plus"></i>
          </button>
          <div class="clear"></div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <colgroup>
              <col style="width: 50px;">
              <col style="width: 200px;">
              <col style="width: 100px;">
              <col style="width: 150px;">
              <col style="width: 150px;" ng-if="currentUser.is_admin()">
              <col style="width: 150px;" ng-if="currentUser.is_admin()">
              <col style="width: 200px;" ng-if="currentUser.is_admin()">
              <col style="width: 150px;">
            </colgroup>
            <thead>
              <tr>
                <th>STT</th>
                <th>San pham</th>
                <th>So luong</th>
                <th>So luong con</th>
                <th ng-if="currentUser.is_admin()">Gia nhap (don vi)</th>
                <th ng-if="currentUser.is_admin()">Tong gia nhap</th>
                <th>Gia ban du kien (don vi)</th>
                <th>Chiet khau (don vi)</th>
                <th ng-if="currentUser.is_admin()">Nha cung cap</th>
                <!-- Chi admin xem dc gia von-->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in import_history.import_items_attributes">
                <td class="text-center">
                  {{$index + 1}}
                </td>
                <td>
                  <a ui-sref="editProduct({id: item.variant.product_id})" target="_blank">
                    {{item.variant.name}}
                  </a>
                </td>
                <td class="text-center">
                    {{ item.quantity || '0' }}
                </td>
                <td class="text-center">
                  {{item.count_in_stock}}
                </td>
                <td class="text-center" ng-if="currentUser.is_admin()">
                    {{ item.cost_per_item | vnCurrency }}
                </td>
                <td class="text-center" ng-if="currentUser.is_admin()">
                  {{item.cost_per_item*item.quantity | vnCurrency}}
                </td>
                <td class="text-center">
                  {{ item.price_per_item | vnCurrency }}
                </td>
                <td class="text-center">
                  {{ item.discount_per_item | vnCurrency }}
                </td>
                <td class="text-center" ng-if="currentUser.is_admin()">
                  <a ui-sref="editSupplier({id: item.supplier.id})" target="_blank">
                    {{item.supplier.name }}
                  </a>
                </td>
                <td class="text-center">
                  <a ng-click="editImportItem(item)" class="btn btn-success"
                     ng-if="import_history.permissions.can_update">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <angular-smartconfirm confirm="deleteImportItem(item)"
                     ng-if="import_history.permissions.can_update">
                    <i class="fa fa-trash"></i>
                  </smart-confirm>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END THONG TIN DON HANG -->
      <!-- END ORDER -->



      <!-- BEGIN OTHER ITEMS -->
      <div class="panel panel-default" ng-controller='otherItemManagerCtrl'>
        <div class="panel-heading">
          <h4 class="pull-left">Cac muc khac</h4>
          <button class="btn btn-success pull-right" ng-click="addOtherItem()"
            ng-if="!import_history.id || import_history.permissions.can_update">
            <i class="fa fa-plus"></i>
          </button>
          <div class="clear"></div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <colgroup>
              <col style="width: 10%">
              <col style="width: 30%">
              <col style="width: 40%;">
              <col style="width: 20%;">
            </colgroup>
            <thead>
              <tr class="text-center">
                <th class="text-center">STT</th>
                <th>Ten</th>
                <th>Chi phi</th>
                <th>Ghi chu</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in import_history.other_import_items_attributes">
                <td class="text-center">
                  {{$index + 1}}
                </td>
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.cost | vnCurrency}}
                </td>
                <td>
                  {{item.note}}
                </td>
                <td class="text-center">
                  <a ng-click="editOtherImportItem(item)" class="btn btn-success"
                     ng-if="import_history.permissions.can_update">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <angular-smartconfirm confirm="deleteOtherImportItem(item)"
                     ng-if="import_history.permissions.can_update">
                     <i class="fa fa-trash"></i>
                  </smart-confirm>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

