<div class="modal-header">
  <h3 class="modal-title">Tao moi khach hang</h3>
</div>
<div class="modal-body">
  <form name="customerForm" novalidate class="row">
    <div class="col-sm-12">
      <div class="form-group" ng-class="{'has-error': customerForm.name.$invalid &&
        customerForm.name.$dirty }">
        <label for="name">Khach hang*</label>
        <input 
        name="name" ng-model="customer.name" required
        type="text" class="form-control" placeholder="Ho ten khach hang">
        <div class="help-block" ng-messages="customerForm.name.$error"
          ng-show="customerForm.name.$dirty">
          <div ng-messages-include="admin/shared/messages/_messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.phone.$invalid &&
        customerForm.phone.$dirty }">
        <label for="phone">Phone</label>
        <input type="text" class="form-control"
        placeholder="0948-993-995"
        name="phone" ng-model="customer.phone" mask="9999-999-9999?" mask-clean="true" mask-restrict="reject">
        <p class="help-block" ng-show="customerForm.phone.$dirty &&
        customerForm.phone.$error.mask">0948-993-995</p>
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.address.$invalid &&
        customerForm.address.$dirty }">
        <label for="address">Dia chi</label>
        <input 
        name="address" ng-model="customer.address"
        type="text" class="form-control" placeholder="125 Nguyen Thi Thap, Quan 7, Ho chi minh">
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.birthday.$invalid &&
        customerForm.birthday.$dirty }">
        <label for="birthday">Ngay sinh</label>
        <input class="form-control" type="text" placeholder='25-12-2015'
        name="birthday" mask="39-19-9999" ng-model="customer.birthday"
        mask-restrict="reject">
        <p class="help-block" ng-show="customerForm.birthday.$dirty &&
        customerForm.birthday.$error.mask">25-12-2015</p>
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.birthday.$invalid &&
        customerForm.birthday.$dirty }">
        <label for="id_number">CMND</label>
        <input class="form-control" type="text" 
        name="id_number" mask="9999999999?9?9?9?9?" ng-model="customer.id_number"
        mask-restrict="reject" validate='false'>
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.email.$invalid &&
        customerForm.email.$dirty }">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="trungnguyenhuu262@gmail.com"
        name="email" ng-model="customer.email">
        <div class="help-block" ng-messages="customerForm.email.$error"
          ng-show="customerForm.email.$dirty">
          <div ng-messages-include="admin/shared/messages/_messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.facebook.$invalid &&
        customerForm.facebook.$dirty }">
        <label for="facebook">Facebook</label>
        <input type="text" class="form-control"
        name="facebook" ng-model="customer.facebook">
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.job.$invalid &&
        customerForm.job.$dirty }">
        <label for="job">Nghe nghiep</label>
        <input type="text" class="form-control"
        name="job" ng-model="customer.job">
        <div class="help-block" ng-messages="customerForm.job.$error"
          ng-show="customerForm.job.$dirty">
          <div ng-messages-include="admin/shared/messages/_messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': customerForm.character.$invalid &&
        customerForm.character.$dirty }">
        <label for="character">Tinh cach</label>
        <textarea class="form-control" placeholder="Mo ta tinh cach"
          name="character" ng-model='customer.character' ng-maxlength='1000'>
        </textarea>
        <div class="help-block" ng-messages="customerForm.character.$error"
          ng-show="customerForm.character.$dirty">
          <div ng-messages-include="admin/shared/messages/_messages.html"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button"
    ng-disabled="customerForm.$invalid || customer.isCreating"
    ng-click="save(customer.$invalid)">Luu</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Thoat</button>
</div>

