<div class="modal-header">
  <h3 class="modal-title">them moi</h3>
</div>
<div class="modal-body">
  <form name="line_item_form" novalidate>

    <div class="form-group" 
      ng-class="{'has-error': line_item_form.variant.$invalid &&
      line_item_form.variant.$dirty }">
      <label for="variant" style="display: block;">San pham</label>
      <ui-select name="variant" ng-model="line_item.variant" required
        ng-disabled="line_item.id"
        style="width:100%;">
          <ui-select-match placeholder="Lua chon san pham">
              {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="variant in allVariants| filter: $select.search | orderBy: '-count_in_stock' track by variant.id"
                ui-disable-choice="variant.count_in_stock <= 0">
              <h4>{{variant.name}}</h4>
              <strong>Loai:</strong> {{variant.option_values}}
              <br>
              <strong>Don gia:</strong> {{variant.price_with_sale | vnCurrency}}
              <span style="text-decoration: line-through;" ng-if="variant.on_sale"> {{variant.price | vnCurrency}}</span>
              <br>
              <span ng-if="variant.on_sale">
              <strong>On sale:</strong>
                <span>
                  {{variant.sale_from_date | date: 'dd-MM-yyyy'}} --> {{variant.sale_to_date | date: 'dd-MM-yyyy'}}
                </span>
              </span>
              <p><strong>So luong trong kho:</strong> {{variant.count_in_stock}}</p>
          </ui-select-choices>
      </ui-select>
      <div class="help-block">
        <p>So luong trong kho: {{line_item.variant.count_in_stock}}</p>
      </div>
      <div class="help-block" ng-messages="line_item_form.variant.$error"
        ng-show="line_item_form.variant.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

    <div class="form-group" 
      ng-class="{'has-error': line_item_form.quantity.$invalid &&
      line_item_form.quantity.$dirty }">
      <label for="quantity">So luong</label>
      <input type="number" class="form-control" name="quantity" 
        ng-model="line_item.quantity" required>
      <div class="help-block" ng-messages="line_item_form.quantity.$error"
        ng-show="line_item_form.quantity.$dirty">
        <div ng-messages-include="admin/shared/messages/_messages.html"></div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" 
    ng-disabled="line_item_form.$invalid"
    ng-click="save(line_item_form.$invalid)">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
