<div class="table-responsive">
  <table class="table table-bordered table-responsive table-hover table-striped">
    <colgroup>
      <col style="width: 70%;">
      <col style="width: 30%;">
    </colgroup>
    <thead>
      <tr>
        <th colspan="2">
          Tình trạng đơn hàng
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bán bởi</td>
        <td class="text-center">
          <ui-select name="seller" ng-model="order.seller"
            ng-disabled="!order.can_edit_by_current_user"
            style="width:100%;">
              <ui-select-match placeholder="Bán bởi">
                  {{$select.selected.email}}
              </ui-select-match>
              <ui-select-choices repeat="staff in allStaffs| filter: $select.search  track by staff.id"
                  ui-disable-choice="staff.deleted_at">
                  <h4>{{staff.email}}</h4>
                  <strong>Tên:</strong> {{staff.name}}
              </ui-select-choices>
          </ui-select>
        </td>
      </tr>
      <tr>
        <td>Ngày đặt hàng</td>
        <td class="text-center">{{order.created_at | date: 'dd-MM-yyyy'}}</td>
      </tr>
      <tr>
        <td>Ngày  gửi</td>
        <td class="text-center" ng-if="order.delivery_date">{{order.delivery_date | date: 'dd-MM-yyyy'}}</td>
        <td class="text-center" ng-if="!order.delivery_date">
          <button class="btn btn-primary" ng-click="ship()" ng-disabled='!order.permissions.can_ship'>
            <i class="fa fa-car"></i> Gửi hàng
          </button>
        </td>
      </tr>
      <tr>
        <td>Ngày nhận</td>
        <td class="text-center" ng-if="order.receive_date">{{order.receive_date | date: 'dd-MM-yyyy'}}</td>
        <td class="text-center" ng-if="!order.receive_date">
          <button class="btn btn-primary"
            ng-disabled="!order.permissions.can_complete"
            ng-click="received()">
            <i class="fa fa-check-square-o"></i> Hoàn tất
          </button>
        </td>
      </tr>
      <tr>
        <td>Ngày trả:</td>
        <td class="text-center" ng-if="currentUser.is_subadmin && order.is_sent_refund_request &&
          !order.is_refunded && !order.is_refused_refund_request">Đã gửi yêu cầu trả hàng</td>
        <td class="text-center" ng-if="currentUser.is_subadmin && order.is_refused_refund_request">Admin
          từ chối yêu cầu trả hàng này</td>

        <td class="text-center" 
            ng-if="(currentUser.is_admin() && !order.is_refunded) || (currentUser.is_subadmin &&
            !order.is_refunded && !order.is_sent_refund_request)">
          <button class="btn btn-primary"
            ng-disabled="!order.permissions.can_refund"
            ng-click="refund()">
            <i class="fa fa-check-square-o"></i>
              Trả hàng
          </button>
          <p ng-if='currentUser.is_admin() && order.is_sent_refund_request'>Quản lý đã gửi yêu cầu
          trả hàng
          <span ng-if="order.is_refused_refund_request">và bạn đã từ chối</span></p>
        </td>

        <td class="text-center" ng-if="order.is_refunded">{{order.refund_date | date: 'dd-MM-yyyy'}}</td>
      </tr>
      <tr>
        <td>Tổng thời gian chờ</td>
        <td class="text-center"> {{order.total_of_wait_time}}</td>
      </tr>
      <tr>
        <td>Ghi chú</td>
        <td class="text-center">
          <textarea class="form-control" name="note" ng-model="order.note"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
