<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="pull-left">Chiết khấu</h4>
    <button 
      style="margin-left: 5px;"
      class="btn btn-danger pull-right" 
      ng-if="commission.id"
      ng-click="destroyCommission()"
      ng-disabled="!commission.permissions.can_destroy">
      <i class="fa fa-trash"></i>
    </button>
    <button 
      ng-if="commission.permissions.can_update"
      class="btn btn-success pull-right" ng-click="saveCommission(commission_form.$invalid)"
      ng-disabled="commission_form.$invalid">
      <i class="fa fa-save"></i>
    </button>
    <div class="clear"></div>
  </div>
  <div class="panel-body">
    <form name="commission_form" novalidate>
      <div class="form-group" 
        ng-class="{'has-error': commission_form.amount.$invalid && commission_form.amount.$dirty }">
        <label for="amount">Số tiền</label>
        <input name="amount"
        ng-disabled="!commission.permissions.can_update"
        mask-money mm-options="moneyOptions"
        ng-model="commission.amount" required
        type="text" class="form-control">
        <div class="help-block" ng-messages="commission_form.amount.$error"
          ng-show="commission_form.amount.$dirty">
          <div ng-messages-include="admin/shared/messages/_messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': commission_form.description.$invalid && commission_form.description.$dirty }">
        <label for="description">Diễn giải</label>
        <textarea 
          ng-disabled="!commission.permissions.can_update"
          class="form-control" rows="4" cols="50" name="description" ng-model="commission.description"></textarea>
        <div class="help-block" ng-messages="commission_form.description.$error"
          ng-show="commission_form.description.$dirty">
          <div ng-messages-include="admin/shared/messages/_messages.html"></div>
        </div>
      </div>
    </form>
  </div>
</div>
