<!DOCTYPE html> 
<html lang="en">
<head> 

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Ong Vang NHT</title>
<%= render partial: 'admin/shared/head' %>
</head> 
<body>
  <div id="loading">
    <%= image_tag 'loader-dark.gif', alt: 'Loading...' %>
  </div>

  <style type="text/css">

    body {
      background: #fff;
      overflow: hidden;
    }

  </style>

  <script type="text/javascript">
    /* WOW animations */

    wow = new WOW({
    animateClass: 'animated',
    offset: 100
    });
    wow.init();
  </script>
  <%= image_tag 'login_bg.jpg', class: 'login-img wow fadeIn' %>
  <div class="center-vertical">
    <div class="center-content">

      <div class="col-md-3 center-margin">

        <div class="panel-layout wow bounceInDown">
          <div class="panel-content pad0A bg-white">
            <div class="meta-box meta-box-offset">
              <%= image_tag 'logo.png', class: 'meta-image img-bordered img-circle', width: '150px',
            style: 'margin-top: -68px; border: none;'%>
              <h3 class="meta-heading font-size-16" style="font-weight: bold; font-size: 20px!important; margin-top: 0px;">ONG VÀNG NHT</h3>
              <h4 class="font-size-14" style="margin-top: -5px; margin-bottom: 20px;">Ong có mật, người có tâm</h4>
            </div>
            <%= yield %>
          </div>
        </div>

      </div>

    </div>
  </div>



  <!-- WIDGETS -->
</body>
</html>
